Start here: https://en.wikipedia.org/wiki/List_of_men%27s_national_association_football_teams

In [36]:
import requests
from bs4 import BeautifulSoup

import pandas as pd

import time

from IPython.display import display

import warnings
warnings.filterwarnings("ignore")

In [3]:
team_list_page = requests.get("https://en.wikipedia.org/wiki/List_of_men's_national_association_football_teams")
team_list_page.raise_for_status()

### Extract links to all football team wiki pages

In [4]:
teams_soup = BeautifulSoup(team_list_page.text, "html.parser")
team_anchors = teams_soup.select("span.flagicon+a")

team_links = []

for tag in team_anchors:
    team_links.append(tag["href"])

team_links = list(set(team_links))
team_links

['/wiki/Dominica_national_football_team',
 '/wiki/Ecuador_national_football_team',
 '/wiki/Kuwait_national_football_team',
 '/wiki/Republic_of_Ireland_national_football_team',
 '/wiki/Pakistan_national_football_team',
 '/wiki/Spain_national_football_team',
 '/wiki/Slovakia_national_football_team',
 '/wiki/Slovenia_national_football_team',
 '/wiki/Luxembourg_national_football_team',
 '/wiki/Tonga_national_football_team',
 '/wiki/Switzerland_national_football_team',
 '/wiki/Palestine_national_football_team',
 '/wiki/France_national_football_team',
 '/wiki/Ukraine_national_football_team',
 '/wiki/Cura%C3%A7ao_national_football_team',
 '/wiki/Eswatini_national_football_team',
 '/wiki/Somalia_national_football_team',
 '/wiki/Estonia_national_football_team',
 '/wiki/Cura%C3%A7ao_national_football_team_(1921%E2%80%931958)',
 '/wiki/Comoros_national_football_team',
 '/wiki/Anguilla_national_football_team',
 '/wiki/Finland_national_football_team',
 '/wiki/Colombia_national_football_team',
 '/wiki/Eritrea_national_football_team',
 '/wiki/England_national_football_team',
 '/wiki/Russia_national_football_team',
 '/wiki/Macau_national_football_team',
 '/wiki/Maldives_national_football_team',
 '/wiki/Cape_Verde_national_football_team',
 '/wiki/Bonaire_national_football_team',
 '/wiki/Czech_Republic_national_football_team',
 '/wiki/Liechtenstein_national_football_team',
 '/wiki/Trinidad_and_Tobago_national_football_team',
 '/wiki/Brunei_national_football_team',
 '/wiki/Romania_national_football_team',
 '/wiki/Solomon_Islands_national_football_team',
 '/wiki/Turks_and_Caicos_Islands_national_football_team',
 '/wiki/Mozambique_national_football_team',
 '/wiki/Aruba_national_football_team',
 '/wiki/Sint_Maarten_national_football_team',
 '/wiki/Azerbaijan_national_football_team',
 '/wiki/Kenya_national_football_team',
 '/wiki/Mali_national_football_team',
 '/wiki/Peru_national_football_team',
 '/wiki/China_national_football_team',
 '/wiki/Papua_New_Guinea_national_football_team',
 '/wiki/Argentina_national_football_team',
 '/wiki/Algeria_national_football_team',
 '/wiki/Zimbabwe_national_football_team',
 '/wiki/Angola_national_football_team',
 '/wiki/Uganda_national_football_team',
 '/wiki/South_Africa_national_soccer_team',
 '/wiki/Mandatory_Palestine_national_football_team',
 '/wiki/Montserrat_national_football_team',
 '/wiki/Costa_Rica_national_football_team',
 '/wiki/Turkmenistan_national_football_team',
 '/wiki/Nepal_national_football_team',
 '/wiki/Cook_Islands_national_football_team',
 '/wiki/Nigeria_national_football_team',
 '/wiki/East_Germany_national_football_team',
 '/wiki/Ghana_national_football_team',
 '/wiki/British_Virgin_Islands_national_football_team',
 '/wiki/Saint_Kitts_and_Nevis_national_football_team',
 '/wiki/New_Caledonia_national_football_team',
 '/wiki/North_Korea_national_football_team',
 '/wiki/Western_Sahara_national_football_team',
 '/wiki/Italy_national_football_team',
 '/wiki/Netherlands_Antilles_national_football_team',
 '/wiki/Fiji_national_football_team',
 '/wiki/CIS_national_football_team',
 '/wiki/Equatorial_Guinea_national_football_team',
 '/wiki/Afghanistan_national_football_team',
 '/wiki/Barbados_national_football_team',
 '/wiki/S%C3%A3o_Tom%C3%A9_and_Pr%C3%ADncipe_national_football_team',
 '/wiki/Burkina_Faso_national_football_team',
 '/wiki/Poland_national_football_team',
 '/wiki/Uruguay_national_football_team',
 '/wiki/Canada_men%27s_national_soccer_team',
 '/wiki/Portugal_national_football_team',
 '/wiki/Serbia_national_football_team',
 '/wiki/Bosnia_and_Herzegovina_national_football_team',
 '/wiki/Guadeloupe_national_football_team',
 '/wiki/South_Sudan_national_football_team',
 '/wiki/Belgium_national_football_team',
 '/wiki/Kiribati_national_football_team',
 '/wiki/Iraq_national_football_team',
 '/wiki/Hungary_national_football_team',
 '/wiki/Mauritius_national_football_team',
 '/wiki/Zanzibar_national_football_team',
 '/wiki/Central_African_Republic_national_football_team',
 '/wiki/Uzbekistan_national_football_team',
 '/wiki/Guinea-Bissau_national_football_team',
 '/wiki/Armenia_national_football_team',
 '/wiki/Liberia_national_football_team',
 '/wiki/Chinese_Taipei_national_football_team',
 '/wiki/Guinea_national_football_team',
 '/wiki/Bangladesh_national_football_team',
 '/wiki/South_Korea_national_football_team',
 '/wiki/Cayman_Islands_national_football_team',
 '/wiki/Tuvalu_national_football_team',
 '/wiki/Moldova_national_football_team',
 '/wiki/Iceland_national_football_team',
 '/wiki/Japan_national_football_team',
 '/wiki/United_Arab_Emirates_national_football_team',
 '/wiki/Lebanon_national_football_team',
 '/wiki/Vatican_City_national_football_team',
 '/wiki/Libya_national_football_team',
 '/wiki/Mexico_national_football_team',
 '/wiki/Austria_national_football_team',
 '/wiki/Norway_national_football_team',
 '/wiki/Ethiopia_national_football_team',
 '/wiki/Saint_Vincent_and_the_Grenadines_national_football_team',
 '/wiki/Bhutan_national_football_team',
 '/wiki/Israel_national_football_team',
 '/wiki/Guatemala_national_football_team',
 '/wiki/Yemen_national_football_team',
 '/wiki/Sweden_men%27s_national_football_team',
 '/wiki/Sierra_Leone_national_football_team',
 '/wiki/Palau_national_football_team',
 '/wiki/Saudi_Arabia_national_football_team',
 '/wiki/Egypt_national_football_team',
 '/wiki/Iran_national_football_team',
 '/wiki/Bermuda_national_football_team',
 '/wiki/Guam_national_football_team',
 '/wiki/Sudan_national_football_team',
 '/wiki/Syria_national_football_team',
 '/wiki/Dominican_Republic_national_football_team',
 '/wiki/Montenegro_national_football_team',
 '/wiki/Martinique_national_football_team',
 '/wiki/Guyana_national_football_team',
 '/wiki/Seychelles_national_football_team',
 '/wiki/El_Salvador_national_football_team',
 '/wiki/Nicaragua_national_football_team',
 '/wiki/Kyrgyzstan_national_football_team',
 '/wiki/Kazakhstan_national_football_team',
 '/wiki/Vanuatu_national_football_team',
 '/wiki/Lithuania_national_football_team',
 '/wiki/United_States_Virgin_Islands_national_soccer_team',
 '/wiki/DR_Congo_national_football_team',
 '/wiki/Panama_national_football_team',
 '/wiki/Scotland_national_football_team',
 '/wiki/Malawi_national_football_team',
 '/wiki/Singapore_national_football_team',
 '/wiki/India_national_football_team',
 '/wiki/Nyasaland_national_football_team',
 '/wiki/French_Guiana_national_football_team',
 '/wiki/Congo_national_football_team',
 '/wiki/Thailand_national_football_team',
 '/wiki/South_Ossetia_national_football_team',
 '/wiki/Samoa_national_football_team',
 '/wiki/Puerto_Rico_national_football_team',
 '/wiki/Vietnam_national_football_team',
 '/wiki/North_Macedonia_national_football_team',
 '/wiki/United_Kingdom_national_football_team',
 '/wiki/Philippines_national_football_team',
 '/wiki/Saint_Lucia_national_football_team',
 '/wiki/Cameroon_national_football_team',
 '/wiki/Madagascar_national_football_team',
 '/wiki/Morocco_national_football_team',
 '/wiki/Namibia_national_football_team',
 '/wiki/Faroe_Islands_national_football_team',
 '/wiki/Artsakh_national_football_team',
 '/wiki/Monaco_national_football_team',
 '/wiki/Germany_national_football_team',
 '/wiki/Yugoslavia_national_football_team',
 '/wiki/Lesotho_national_football_team',
 '/wiki/Paraguay_national_football_team',
 '/wiki/Kosovo_national_football_team',
 '/wiki/Northern_Cyprus_national_football_team',
 '/wiki/Mauritania_national_football_team',
 '/wiki/Malta_national_football_team',
 '/wiki/Senegal_national_football_team',
 '/wiki/Latvia_national_football_team',
 '/wiki/Abkhazia_national_football_team',
 '/wiki/Chile_national_football_team',
 '/wiki/Sri_Lanka_national_football_team',
 '/wiki/Albania_national_football_team',
 '/wiki/Transnistria_national_football_team',
 '/wiki/Czechoslovakia_national_football_team',
 '/wiki/Gambia_national_football_team',
 '/wiki/Brazil_national_football_team',
 '/wiki/Bulgaria_national_football_team',
 '/wiki/Myanmar_national_football_team',
 '/wiki/Croatia_national_football_team',
 '/wiki/Antigua_and_Barbuda_national_football_team',
 '/wiki/Grenada_national_football_team',
 '/wiki/Ireland_national_football_team_(1882%E2%80%931950)',
 '/wiki/Soviet_Union_national_football_team',
 '/wiki/Tahiti_national_football_team',
 '/wiki/Malaya_national_football_team',
 '/wiki/American_Samoa_national_football_team',
 '/wiki/Georgia_national_football_team',
 '/wiki/Turkey_national_football_team',
 '/wiki/Hong_Kong_national_football_team',
 '/wiki/Laos_national_football_team',
 '/wiki/Jordan_national_football_team',
 '/wiki/Chad_national_football_team',
 '/wiki/Bahamas_national_football_team',
 '/wiki/Indonesia_national_football_team',
 '/wiki/Qatar_national_football_team',
 '/wiki/Tunisia_national_football_team',
 '/wiki/Netherlands_national_football_team',
 '/wiki/Russian_Empire_national_football_team',
 '/wiki/Federated_States_of_Micronesia_national_football_team',
 '/wiki/San_Marino_national_football_team',
 '/wiki/Gabon_national_football_team',
 '/wiki/Zambia_national_football_team',
 '/wiki/Timor-Leste_national_football_team',
 '/wiki/Haiti_national_football_team',
 '/wiki/Botswana_national_football_team',
 '/wiki/Cyprus_national_football_team',
 '/wiki/Andorra_national_football_team',
 '/wiki/Bahrain_national_football_team',
 '/wiki/Belize_national_football_team',
 '/wiki/Gibraltar_national_football_team',
 '/wiki/Northern_Mariana_Islands_national_football_team',
 '/wiki/Wales_national_football_team',
 '/wiki/R%C3%A9union_national_football_team',
 '/wiki/Serbia_and_Montenegro_national_football_team',
 '/wiki/Cuba_national_football_team',
 '/wiki/Australia_men%27s_national_soccer_team',
 '/wiki/Niger_national_football_team',
 '/wiki/Cambodia_national_football_team',
 '/wiki/Benin_national_football_team',
 '/wiki/Saint_Martin_national_football_team',
 '/wiki/Ivory_Coast_national_football_team',
 '/wiki/Tanzania_national_football_team',
 '/wiki/New_Zealand_men%27s_national_football_team',
 '/wiki/Denmark_national_football_team',
 '/wiki/Northern_Ireland_national_football_team',
 '/wiki/Malaysia_national_football_team',
 '/wiki/United_States_men%27s_national_soccer_team',
 '/wiki/Djibouti_national_football_team',
 '/wiki/Bolivia_national_football_team',
 '/wiki/Rwanda_national_football_team',
 '/wiki/Oman_national_football_team',
 '/wiki/Belarus_national_football_team',
 '/wiki/South_Vietnam_national_football_team',
 '/wiki/State_of_Vietnam_national_football_team',
 '/wiki/South_Yemen_national_football_team',
 '/wiki/Honduras_national_football_team',
 '/wiki/Saarland_national_football_team',
 '/wiki/Suriname_national_football_team',
 '/wiki/Tajikistan_national_football_team',
 '/wiki/Jamaica_national_football_team',
 '/wiki/Togo_national_football_team',
 '/wiki/Mongolia_national_football_team',
 '/wiki/Venezuela_national_football_team',
 '/wiki/Niue_national_soccer_team',
 '/wiki/Somaliland_national_football_team',
 '/wiki/Greece_national_football_team',
 '/wiki/Burundi_national_football_team']

### Extract most capped player for each country

Define a function to extract most capped player from a country's page and call it on all team pages

In [5]:
BASE_URL = "https://en.wikipedia.org"

def get_most_capped_player(country_link):
    team_full_link = f"{BASE_URL}{country_link}"
    #print(team_full_link)

    team_page = requests.get(team_full_link)
    team_page.raise_for_status()
    
    team_soup = BeautifulSoup(team_page.text, "html.parser")

    info_rows = team_soup.select("tr:has(th.infobox-label)")

    for info_row in info_rows:
        row_label = info_row.select("th.infobox-label")[0].text
        if row_label == "Most caps":
            player_tag = info_row.select("td.infobox-data a")[0]
            print(f"Most capped player: {player_tag.get_text()}")
            player_page = player_tag["href"]
            return player_page
    
    raise ValueError("Most capped player not found")

In [6]:
get_most_capped_player(team_links[0])

Most capped player: Glenson Prince

'/wiki/Glenson_Prince'

Define a function to extract the clubs the most capped player has played for

In [50]:
def get_club_list(player_link):
    player_full_link = f"{BASE_URL}{player_link}"
    #print(player_full_link)
    player_page = requests.get(player_full_link)
    player_page.raise_for_status()
    
    player_soup = BeautifulSoup(player_page.text, "html.parser")
    
    # vcard is the name of the stats table on the wiki page
    vcard = player_soup.select("table.infobox.vcard")[0]

    vcard_df = pd.read_html(str(vcard))[0]

    clubs_start_idx = (
        vcard_df
        .dropna(subset=[vcard_df.columns[0]])
        [vcard_df[vcard_df.columns[0]].dropna().str.contains("Senior career")]
        .index[0]
    )
    
    clubs_end_idx = (
        vcard_df
        .dropna(subset=[vcard_df.columns[0]])
        [vcard_df[vcard_df.columns[0]].dropna().str.contains("International career")]
        .index[0]
    )
    
    clubs = vcard_df.loc[clubs_start_idx+2:clubs_end_idx-1,:]
    clubs.columns = ["Date", "Team", "Appearances", "Goals"]
    return clubs

In [51]:
get_club_list(get_most_capped_player(team_links[0]))

Most capped player: Glenson Prince

         Date                  Team Appearances Goals
9       –2014      Northern Bombers         NaN   NaN
10       2014     San Juan Jabloteh         NaN   NaN
11  2015–2016      Northern Bombers         NaN   NaN
12  2016–2017            Dublanc FC         NaN   NaN
13  2017–2021  Phare Petit-Canal[3]         NaN   NaN
14      2021–            Dublanc FC         NaN   NaN

In [52]:
errors = []

for team_link in team_links:
    try:
        team_name = team_link.split("/")[-1].replace("_national_football_team", "").replace("_", "")
        print(f"{team_name}")
        most_capped_player_link = get_most_capped_player(team_link)
        
        player_clubs = get_club_list(most_capped_player_link)
        display(player_clubs)
    
        print("\n\n###############################################\n\n")
        time.sleep(0.1)
    except:
        print(f"Could not extract info for {team_link}")
        errors.append(team_link)

Dominica
Most capped player: Glenson Prince

         Date                  Team Appearances Goals
9       –2014      Northern Bombers         NaN   NaN
10       2014     San Juan Jabloteh         NaN   NaN
11  2015–2016      Northern Bombers         NaN   NaN
12  2016–2017            Dublanc FC         NaN   NaN
13  2017–2021  Phare Petit-Canal[3]         NaN   NaN
14      2021–            Dublanc FC         NaN   NaN

###############################################


Ecuador
Most capped player: Iván Hurtado

         Date                 Team Appearances Goals
9   1992–1996               Emelec         102  (10)
10  1996–1999               Celaya          89   (2)
11  1999–2001               Tigres          79   (0)
12       2001               Emelec          14   (1)
13  2001–2002            Querétaro          18   (0)
14  2002–2004         Barcelona SC          57   (2)
15       2004               Murcia          15   (0)
16  2004–2005              Pachuca          26   (0)
17  2005–2006             Al Arabi          13   (3)
18       2006              Al-Ahly           0   (0)
19       2007    Atlético Nacional          38   (1)
20       2008         Barcelona SC          17   (0)
21  2008–2009          Millonarios          26   (2)
22  2009–2010      Deportivo Quito          49   (0)
23       2011         Barcelona SC          41   (0)
24       2012               Grecia          11   (1)
25       2015  Deportivo Echeandía         NaN   NaN
26      Total                  NaN         595  (22)

###############################################


Kuwait
Most capped player: Bader Al-Mutawa

     Date               Team Appearances  Goals
12  2002–             Qadsia         271  (161)
13   2007  → Qatar SC (loan)           0    (0)
14   2011  → Al Nassr (loan)           9    (3)

###############################################


RepublicofIreland
Most capped player: Robbie Keane

         Date                      Team Appearances  Goals
15  1997–1999   Wolverhampton Wanderers          73   (24)
16  1999–2000             Coventry City          31   (12)
17  2000–2001               Inter Milan           6    (0)
18       2001     → Leeds United (loan)          18    (9)
19  2001–2002              Leeds United          28    (4)
20  2002–2008         Tottenham Hotspur         197   (80)
21  2008–2009                 Liverpool          19    (5)
22  2009–2011         Tottenham Hotspur          41   (11)
23       2010           → Celtic (loan)          16   (12)
24       2011  → West Ham United (loan)           9    (2)
25  2011–2016                 LA Galaxy         125   (83)
26       2012      → Aston Villa (loan)           6    (3)
27  2017–2018                       ATK           9    (6)
28      Total                       NaN         578  (251)

###############################################


Pakistan
Most capped player: Jaffar Khan

        Date           Team Appearances Goals
9  1998–2019  Pakistan Army         NaN   NaN

###############################################


Spain
Most capped player: Sergio Ramos

         Date                 Team Appearances Goals
15  2003–2004     Sevilla Atlético          26   (2)
16  2004–2005              Sevilla          39   (2)
17  2005–2021          Real Madrid         469  (72)
18  2021–2023  Paris Saint-Germain          45   (4)
19      2023–              Sevilla          10   (1)

###############################################


Slovakia
Most capped player: Marek Hamšík

         Date                 Team Appearances  Goals
12  2002–2004    Slovan Bratislava           6    (1)
13  2004–2007              Brescia          65   (10)
14  2007–2019               Napoli         408  (100)
15  2019–2021  Dalian Professional          42    (4)
16       2021         IFK Göteborg           6    (1)
17  2021–2023          Trabzonspor          49    (5)
18      Total                  NaN         576  (121)

###############################################


Slovenia
Most capped player: Boštjan Cesar

         Date                           Team Appearances Goals
12  2000–2005                  Dinamo Zagreb          58   (3)
13       2001       → Croatia Sesvete (loan)           7   (0)
14       2005              → Olimpija (loan)           9   (0)
15  2005–2009                      Marseille          24   (0)
16  2007–2008  → West Bromwich Albion (loan)          20   (1)
17  2009–2010                       Grenoble          40   (1)
18  2010–2020                         Chievo         236   (7)
19      Total                            NaN         394  (12)

###############################################


Luxembourg
Most capped player: Mario Mutsch

         Date                 Team Appearances Goals
9   2002–2005               Spa FC          78  (12)
10  2005–2006    Union La Calamine          27   (0)
11  2006–2007  Alemannia Aachen II          34   (4)
12  2007–2009                Aarau          58   (3)
13  2009–2011                 Metz          57   (1)
14  2011–2012                 Sion          15   (2)
15  2012–2017            St Gallen         119   (1)
16  2017–2019   Progrès Niederkorn          27   (1)
17      Total                  NaN         415  (24)

###############################################


Tonga
Most capped player: Kilifi Uele

        Date      Team Appearances Goals
9  1997–2019  Veitongo         NaN   NaN

###############################################


Switzerland
Most capped player: Granit Xhaka

         Date                      Team Appearances Goals
15  2010–2012                  FC Basel          42   (1)
16  2012–2016  Borussia Mönchengladbach         108   (6)
17  2016–2023                   Arsenal         225  (17)
18      2023–          Bayer Leverkusen          14   (0)

###############################################


Palestine
Most capped player: Abdelatif Bahdari

         Date                  Team Appearances Goals
13  2001–2003            Gaza Sport         NaN   NaN
14  2002–2004            Al-Meshtal         NaN   NaN
15  2004–2009        Khadamat Rafah         NaN   NaN
16  2007–2008    → Al-Am'ary (loan)         NaN   NaN
17  2008–2009  → Hilal Ariha (loan)          22   (7)
18  2009–2011             Al-Wehdat          38   (5)
19  2011–2013                 Hajer          37   (7)
20  2013–2014                 Zakho          20   (1)
21  2014–2015             Al-Wehdat          19   (4)
22  2015–2016      Shabab Al-Khalil         NaN   NaN
23  2016–2017   Tala'ea El-Gaish SC         NaN   NaN
24       2017         Abnaa Al-Quds         NaN   NaN
25  2017–2018      Shabab Al-Khalil         NaN   NaN
26      2018–         Markaz Balata         NaN   NaN

###############################################


France
Most capped player: Hugo Lloris

         Date               Team Appearances Goals
15  2005–2006            Nice II          20   (0)
16  2005–2008               Nice          72   (0)
17  2008–2012               Lyon         146   (0)
18  2012–2023  Tottenham Hotspur         361   (0)
19      2024–     Los Angeles FC           0   (0)

###############################################


Ukraine
Most capped player: Anatoliy Tymoshchuk

         Date                    Team Appearances Goals
13  1995–1997             Volyn Lutsk          62   (8)
14  1998–2001      Shakhtar-2 Donetsk          25   (9)
15  1998–2007        Shakhtar Donetsk         227  (32)
16  2007–2009  Zenit Saint Petersburg          67  (10)
17  2009–2013           Bayern Munich          86   (4)
18  2013–2015  Zenit Saint Petersburg          32   (0)
19  2015–2016                  Kairat          34   (1)
20      Total                     NaN         533  (64)

###############################################


Cura%C3%A7ao
Most capped player: Cuco Martina

         Date                 Team Appearances Goals
14  2008–2011       RBC Roosendaal          68   (2)
15  2011–2013         RKC Waalwijk          43   (1)
16  2013–2014          Jong Twente          11   (0)
17  2013–2015               Twente          48   (1)
18  2015–2017          Southampton          24   (1)
19  2017–2020              Everton          21   (0)
20  2018–2019  → Stoke City (loan)          17   (0)
21       2019   → Feyenoord (loan)          11   (0)
22  2021–2022      Go Ahead Eagles          11   (0)
23      2023–            NAC Breda          20   (3)

###############################################


Eswatini
Most capped player: Tony Tsabedze

         Date                   Team Appearances Goals
9   2002–2003   Mhlambanyatsi Rovers         NaN   NaN
10  2003–2004           Silver Stars         NaN   NaN
11  2004–2008      Supersport United         NaN   NaN
12  2008–2009      Maritzburg United         NaN   NaN
13  2009–2011           Engen Santos         NaN   NaN
14      2011–  Mbabane Swallows F.C.         NaN   NaN

###############################################


Somalia
Most capped player: Yasin Ali Egal

        Date     Team Appearances Goals
5  2003–2005    Elman         NaN   NaN
6  2006–2014  Banadir         NaN   NaN

###############################################


Estonia
Most capped player: Martin Reim

         Date                Team Appearances  Goals
10       1987  VAZ/Žiguli Tallinn          10    (1)
11       1988               Lõvid          21   (10)
12       1989       Sport Tallinn          35    (3)
13  1990–1991               Norma          38   (29)
14       1996               Lelle           1    (0)
15  1992–1999               Flora         167   (49)
16       1999        → KTP (loan)          20    (2)
17       2000                 KTP          29    (1)
18       2003        Tervis Pärnu           2    (0)
19  2001–2008               Flora         218   (22)
20      Total                 NaN         541  (117)

###############################################


Cura%C3%A7ao(1921%E2%80%931958)
Most capped player: Ergilio Hato

         Date                Team Appearances Goals
11  1943–1959  CRKSV Jong Holland         101   (5)

###############################################


Comoros
Most capped player: Youssouf M'Changama

         Date                Team Appearances Goals
15  2009–2010             Sedan B          10   (2)
16  2010–2011            Troyes B          24   (2)
17  2012–2013     Oldham Athletic          26   (2)
18  2013–2014            RC Arbaâ          13   (1)
19       2014   Uzès Pont du Gard          12   (1)
20  2014–2016  Marseille Consolat          52   (9)
21  2016–2018     Gazélec Ajaccio          68   (4)
22  2018–2019            Grenoble          43   (7)
23  2019–2022            Guingamp          91  (13)
24      2022–             Auxerre          26   (0)

###############################################


Anguilla
Could not extract info for /wiki/Anguilla_national_football_team
Finland
Most capped player: Jari Litmanen

         Date           Team Appearances  Goals
11  1987–1990         Reipas          86   (28)
12       1991            HJK          27   (16)
13       1992           MyPa          18    (7)
14  1992–1999           Ajax         159   (91)
15  1999–2001      Barcelona          21    (3)
16  2001–2002      Liverpool          26    (5)
17  2002–2004           Ajax          20    (5)
18       2004          Lahti          11    (3)
19       2005  Hansa Rostock          13    (1)
20  2005–2007       Malmö FF          10    (3)
21       2008         Fulham           0    (0)
22  2008–2010          Lahti          40   (10)
23       2011            HJK          18    (1)
24      Total            NaN         449  (173)

###############################################


Colombia
Most capped player: David Ospina

         Date               Team Appearances        Goals
14  2005–2008  Atlético Nacional          97    (8289101)
15  2008–2014               Nice         189  (929202031)
16  2014–2019            Arsenal          29    (8838212)
17  2018–2019    → Napoli (loan)          17   (92004913)
18  2019–2022             Napoli          64    (9294851)
19      2022–           Al Nassr          13  (929405911)

###############################################


Eritrea
Most capped player: Yidnekachew Shimangus

        Date         Team Appearances Goals
5  2004–2014  Adulis Club         NaN   NaN

###############################################


England
Most capped player: Peter Shilton

         Date               Team Appearances Goals
11  1966–1974     Leicester City         286   (1)
12  1974–1977         Stoke City         110   (0)
13  1977–1982  Nottingham Forest         202   (0)
14  1982–1987        Southampton         188   (0)
15  1987–1992       Derby County         175   (0)
16  1992–1995    Plymouth Argyle          34   (0)
17       1995          Wimbledon           0   (0)
18       1995   Bolton Wanderers           1   (0)
19  1995–1996      Coventry City           0   (0)
20       1996    West Ham United           0   (0)
21  1996–1997      Leyton Orient           9   (0)
22      Total                NaN        1005   (1)

###############################################


Russia
Most capped player: Sergei Ignashevich

         Date                   Team Appearances Goals
14  1998–1999       Spartak Orekhovo          17   (1)
15  1999–2000  Krylia Sovetov Samara          31   (2)
16  2000–2003       Lokomotiv Moscow          76   (4)
17  2003–2018            CSKA Moscow         381  (35)
18      Total                    NaN         505  (42)

###############################################


Macau
Most capped player: Cheang Cheng Ieong

         Date               Team Appearances Goals
12  2005–2008   C.D. Monte Carlo         NaN   NaN
13  2009–2010  Windsor Arch Ka I         NaN   NaN
14       2010       G.D. Lam Pak           7   (0)
15      2010–   C.D. Monte Carlo         NaN   NaN

###############################################


Maldives
Most capped player: Imran Mohamed

         Date                    Team Appearances Goals
9   1999–2001             Club Eagles          18   (0)
10  2002–2008                 Victory          90   (0)
11       2004  → Club Valencia (loan)           1   (0)
12  2009–2010           Club Valencia          22   (0)
13  2010–2011          VB Sports Club           ?   (1)
14  2012–2015          New Radiant SC          22   (1)
15  2015–2016             Maziya S&RC           ?   (?)
16  2017–2018          New Radiant SC           ?   (?)
17       2019          TC Sports Club           ?   (?)

###############################################


CapeVerde
Most capped player: Ryan Mendes

         Date                        Team Appearances Goals
14  2008–2012                    Le Havre          84  (20)
15       2010                 Le Havre II           1   (0)
16  2012–2017                       Lille          54   (7)
17  2014–2016                    Lille II           2   (1)
18  2015–2016  → Nottingham Forest (loan)          35   (2)
19  2017–2018                 Kayserispor          39   (5)
20  2018–2020                     Sharjah          44  (20)
21  2020–2023                     Al Nasr          68  (15)
22      2023–            Fatih Karagümrük           2   (1)

###############################################


Bonaire
Most capped player: Yurick Seinpaal

        Date                  Team Appearances Goals
7  2013–2014          S.V. Uruguay           8   (3)
8  2014–2019           Real Rincon         NaN  (14)
9      2019–  SV Atlétiko Flamingo          29  (32)

###############################################


CzechRepublic
Most capped player: Petr Čech

Empty DataFrame
Columns: [Date, Team, Appearances, Goals]
Index: []

###############################################


Liechtenstein
Most capped player: Peter Jehle

         Date             Team Appearances Goals
11  1998–2000           Schaan           0   (0)
12  2000–2006     Grasshoppers          44   (0)
13  2006–2008         Boavista          24   (0)
14  2008–2009            Tours          23   (0)
15  2009–2018            Vaduz         208   (0)
16       2013  → Luzern (loan)           2   (0)
17      Total              NaN         301   (0)

###############################################


TrinidadandTobago
Most capped player: Angus Eve

         Date               Team Appearances Goals
6   1993–1994         Joe Public         NaN   NaN
7   1995–1996      Defence Force         NaN   NaN
8   1997–1998         Joe Public         NaN   NaN
9   1999–2000       Chester City          14   (4)
10       2000         Joe Public         NaN   NaN
11  2001–2005  San Juan Jabloteh         NaN   NaN

###############################################


Brunei
Most capped player: Azwan Saleh

         Date             Team Appearances Goals
12  2005–2006              QAF         NaN   NaN
13      2006–             DPMM        182+  (11)
14  2010–2011  → Indera (loan)         NaN   NaN

###############################################


Romania
Most capped player: Dorinel Munteanu

         Date                   Team Appearances Goals
14  1986–1987          Metalul Bocșa          13   (0)
15  1987–1988             CSM Reșița           5   (0)
16  1988–1989        Olt Scornicești          33   (2)
17  1989–1991            Inter Sibiu          47   (7)
18  1991–1993       Dinamo București          67  (27)
19  1993–1995          Cercle Brugge          65  (12)
20  1995–1999             1. FC Köln         129  (18)
21  1999–2003          VfL Wolfsburg         101  (11)
22  2004–2005       Steaua București          33   (2)
23  2005–2006               CFR Cluj          26   (0)
24  2006–2007          Argeș Pitești           3   (0)
25  2007–2008                 Vaslui          16   (0)
26       2008     Universitatea Cluj           3   (0)
27       2008    Steaua București[1]           0   (0)
28       2009  Universitatea Cluj[2]           0   (0)
29      Total                    NaN         541  (79)

###############################################


SolomonIslands
Most capped player: Henry Fa'arodo

         Date                    Team Appearances Goals
12  2000–2001          Nelson Suburbs          35  (11)
13       2002           Fawkner Blues          15   (8)
14  2002–2004       Melbourne Knights          33   (4)
15       2004           Fawkner Blues           8   (5)
16  2005–2006             Perth Glory          11   (0)
17       2006         Essendon Royals          20   (8)
18  2006–2007       Canterbury United          20   (7)
19       2007                Richmond          22   (7)
20  2007–2008           Auckland City           6   (0)
21       2008            Altona Magic          27   (7)
22  2009–2011           Hekari United          25  (17)
23       2011      Koloale FC Honiara         NaN   NaN
24  2011–2012         Team Wellington           4   (3)
25       2012               FC Nelson           6   (7)
26  2012–2015         Team Wellington          29  (12)
27  2015–2017          Western United         NaN   NaN
28  2017–2018                  Marist         NaN   NaN
29  2018–2019  Wellington Olympic AFC         NaN   NaN
30  2019–2020        Solomon Warriors         NaN   NaN
31  2020–2021      Hamilton Wanderers         NaN   NaN
32      2022–         Franklin United         NaN   NaN

###############################################


TurksandCaicosIslands
Most capped player: Billy Forbes

         Date                   Team Appearances Goals
14  2006–2008       Provopool Celtic         NaN   NaN
15  2008–2009            AFC Academy         NaN   NaN
16       2012     Mississippi Brilla          11   (2)
17       2013     WV King's Warriors          11   (7)
18  2014–2015  San Antonio Scorpions          50  (10)
19       2016               Rayo OKC          30   (3)
20       2017         San Antonio FC          31  (10)
21       2018         Phoenix Rising          20   (3)
22       2019         San Antonio FC          23   (3)
23       2020            Austin Bold          16   (7)
24       2021               Miami FC          25   (7)
25       2022           Detroit City           5   (0)
26       2022     → Valour FC (loan)          12   (2)
27      2023–   Central Valley Fuego          20   (1)

###############################################


Mozambique
Most capped player: Domingues

         Date               Team Appearances Goals
12  2004–2007  Desportivo Maputo         NaN   NaN
13  2007–2009  Supersport United          56  (14)
14  2009–2015  Mamelodi Sundowns          93  (10)
15  2015–2020       Bidvest Wits          94   (4)
16       2021     Polokwane City          14   (0)
17  2021–2023           Royal AM          29   (3)
18      2023–           UD Songo         NaN   NaN

###############################################


Aruba
Most capped player: Eric Abdul

         Date                  Team Appearances Goals
7   2006–2010           Jong Sparta         NaN   NaN
8   2010–2011          Zwaluwen '30         NaN   NaN
9   2011–2012             DHC Delft         NaN   NaN
10  2012–2013                  ASWH         NaN   NaN
11  2013–2014           SV Estrella         NaN   NaN
12  2014–2021             SV Dakota         NaN   NaN
13  2021–2022  SV Racing Club Aruba         NaN   NaN

###############################################


SintMaarten
Most capped player: Gerwin Lake

         Date                 Team Appearances Goals
12  2015–2016         VV Oude Maas         NaN   NaN
13  2016–2017         FC Dordrecht           0   (0)
14       2017         VV Oude Maas         NaN   NaN
15  2017–2018  Excelsior Maassluis          13   (3)
16  2018–2021        SV Poortugaal         NaN  (24)
17       2021        Flames United           5   (2)
18      2021–        SV Poortugaal         NaN  (27)

###############################################


Azerbaijan
Most capped player: Rashad Sadygov

         Date           Team Appearances Goals
13  2000–2001    Turan Tovuz           9   (0)
14  2001–2002   Neftchi Baku          24   (0)
15  2002–2003         Foolad          20   (0)
16  2003–2005   Neftchi Baku          61   (1)
17  2005–2006    Kayserispor          10   (0)
18  2006–2008   Neftchi Baku          40   (7)
19  2008–2009    Kocaelispor          16   (0)
20  2009–2010        Qarabağ          20   (1)
21  2010–2011  Eskişehirspor           5   (0)
22  2011–2020        Qarabağ         218   (9)

###############################################


Kenya
Most capped player: Musa Otieno

         Date                           Team Appearances Goals
12  1992–1994                   AFC Leopards          37   (4)
13  1995–1997                      Tusker FC         NaN   NaN
14  1997–2011                         Santos         311  (34)
15       2008  → Cleveland City Stars (loan)           7   (1)

###############################################


Mali
Most capped player: Seydou Keita

         Date           Team Appearances Goals
12  1999–2000      Marseille           6   (0)
13  2000–2002        Lorient          58   (1)
14  2002–2007           Lens         157  (19)
15  2007–2008        Sevilla          31   (4)
16  2008–2012      Barcelona         119  (16)
17  2012–2014  Dalian Aerbin          37  (10)
18       2014       Valencia          11   (1)
19  2014–2016           Roma          46   (3)
20  2016–2017       El Jaish          16   (6)
21      Total            NaN         481  (60)

###############################################


Peru
Most capped player: Roberto Palacios

         Date              Team Appearances  Goals
9   1991–1997  Sporting Cristal         208   (62)
10       1997            Puebla          13    (0)
11  1997–1998          Cruzeiro           6    (2)
12  1998–2001         Tecos UAG         104   (16)
13  2001–2002  Sporting Cristal          37    (7)
14       2002         Tecos UAG          16    (5)
15       2003           Morelia          22    (3)
16       2003             Atlas          15    (1)
17       2004           Morelia          17    (0)
18       2004    Deportivo Cali          16    (4)
19  2004–2007         LDU Quito          82   (22)
20       2007          Al-Nassr           1    (0)
21  2007–2012  Sporting Cristal         144   (16)
22      Total               NaN         680  (138)

###############################################


China
Most capped player: Li Weifeng

         Date               Team Appearances Goals
13  1998–2005   Shenzhen Ping'an         151   (8)
14  2002–2003   → Everton (loan)           1   (0)
15  2006–2008   Shanghai Shenhua          49   (8)
16       2008      Wuhan Guanggu           2   (0)
17  2009–2010    Suwon Bluewings          48   (2)
18  2011–2015       Tianjin Teda         105   (3)
19       2015  Tongji University         NaN   NaN
20      Total                NaN         356  (21)

###############################################


PapuaNewGuinea
Most capped player: Michael Foster

         Date             Team Appearances Goals
10       2003             Mopi         NaN   NaN
11       2004           Cosmos         NaN   NaN
12  2008–2010    Hekari United         NaN   NaN
13  2010–2012    Eastern Stars         NaN   NaN
14       2013  FC Port Moresby         NaN   NaN
15  2014–2015     Admiralty FC         NaN   NaN
16       2015         Rapatona         NaN   NaN
17  2015–2016         Lae City         NaN   NaN
18       2016    Malaita Kingz         NaN   NaN
19       2017       Geelong SC          16   (1)
20  2017–2018    Malaita Kingz         NaN   NaN
21       2018        Madang FC         NaN   NaN
22       2019         Lae City         NaN   NaN
23       2019    Malaita Kingz         NaN   NaN
24      2019–    Hekari United         NaN   NaN

###############################################


Argentina
Could not extract info for /wiki/Argentina_national_football_team
Algeria
Most capped player: Lakhdar Belloumi

         Date               Team Appearances  Goals
10  1974–1976         OS Mascara         NaN    NaN
11  1976–1977     SKAF El-Khemis         NaN    NaN
12  1977–1978        GCB Mascara          26   (29)
13  1978–1979            MP Oran          25   (11)
14  1979–1981           MP Alger          30   (10)
15  1981–1987        GCR Mascara          60   (27)
16  1987–1988   Mouloudia d'Oran          56   (36)
17       1988        Al-Arabi SC           6    (5)
18  1989–1990  M. Oran / MC Oran          27   (12)
19  1990–1991         GC Mascara           4    (4)
20  1991–1992      USM Bel Abbès          40   (20)
21  1992–1993         GC Mascara          12    (7)
22  1993–1994            MC Oran          27    (6)
23  1994–1996         GC Mascara          38   (19)
24       1996            MC Oran          11    (2)
25       1997         GC Mascara          13    (3)
26  1997–1998           ASM Oran          17    (9)
27  1998–1999         GC Mascara          25    (4)
28      Total                NaN         417  (204)

###############################################


Zimbabwe
Most capped player: Peter Ndlovu

         Date                        Team Appearances  Goals
7   1988–1990                 Highlanders         NaN    NaN
8   1991–1997               Coventry City         176   (39)
9   1997–2001             Birmingham City         106   (23)
10  2000–2001  → Huddersfield Town (loan)           6    (4)
11  2001–2004            Sheffield United         135   (25)
12  2004–2008           Mamelodi Sundowns          81   (20)
13  2008–2009           Thanda Royal Zulu         NaN    NaN
14       2010            Highfield United         NaN    NaN
15       2011                Black Mambas         NaN    NaN
16      Total                         NaN         504  (111)

###############################################


Angola
Most capped player: Flávio

         Date            Team Appearances  Goals
11  1999–2005  Petro Atlético         148   (86)
12  2005–2009         Al Ahly          96   (35)
13  2009–2011       Al Shabab          16    (8)
14  2011–2012          Lierse           5    (1)
15  2012–2014  Petro Atlético          28   (10)
16      Total             NaN         302  (145)

###############################################


Uganda
Most capped player: Godfrey Walusimbi

         Date           Team Appearances Goals
6   2006–2010       SC Villa          92  (22)
7   2010–2013   Bunamwaya SC          34   (5)
8        2013   CS Don Bosco         NaN   NaN
9        2013       SC Villa         NaN   NaN
10  2014–2018      Gor Mahia          59   (6)
11  2018–2019  Kaizer Chiefs          10   (0)
12  2019–2020       Vllaznia           8   (0)

###############################################


SouthAfricanationalsoccerteam
Most capped player: Aaron Mokoena

         Date                         Team Appearances Goals
10  1999–2003                         Ajax           7   (0)
11       2001  → Germinal Beerschot (loan)          12   (1)
12       2002  → Germinal Beerschot (loan)          29   (1)
13  2003–2005                     KRC Genk          32   (1)
14  2005–2009             Blackburn Rovers         101   (0)
15  2009–2012                   Portsmouth          77   (2)
16  2012–2013                 Bidvest Wits          14   (0)
17      Total                          NaN         272   (5)

###############################################


MandatoryPalestine
Most capped player: Gdalyahu Fuchs

         Date               Team Appearances Goals
8   1926–1929           Shimshon         NaN   NaN
9   1929–1931  Hakoah Czernowitz         NaN   NaN
10  1931–1947       Hapoel Haifa         NaN   NaN

###############################################


Montserrat
Most capped player: Alex Dyer

         Date                 Team Appearances Goals
12  2007–2010     Northampton Town          34   (3)
13  2010–2013           Wealdstone         117  (32)
14       2013       Welling United          20   (4)
15  2014–2016           Östersunds          85  (19)
16  2017–2019             Elfsborg          39   (4)
17       2019  → Lillestrøm (loan)          11   (0)
18       2020          Al Tadhamon           3   (2)
19      2020–           Wealdstone          97   (4)

###############################################


CostaRica
Most capped player: Celso Borges

         Date                          Team Appearances Goals
14  2006–2009                      Saprissa          86   (7)
15  2009–2012                Fredrikstad FK          76  (29)
16  2012–2015                           AIK          79  (22)
17       2015  → Deportivo La Coruña (loan)          17   (3)
18  2015–2018           Deportivo La Coruña         107  (15)
19  2018–2020                       Göztepe          53   (2)
20  2020–2021           Deportivo La Coruña          20   (2)
21      2021–                   Alajuelense          32   (2)

###############################################


Turkmenistan
Most capped player: Arslanmyrat Amanow

         Date                Team Appearances Goals
12  2007–2009            Ashgabat           0   (0)
13  2010–2012             Ýedigen          11   (1)
14       2012           Okzhetpes          11   (1)
15       2013             Ýedigen           1   (0)
16       2014              Irtysh          24   (1)
17  2015–2016             Olmaliq          54   (8)
18       2017          Altyn Asyr          10   (1)
19       2018              Buxoro          29   (5)
20       2019  Lokomotiv Tashkent          23   (4)
21       2020                AGMK          23   (2)
22       2021            Sogdiana          11   (0)
23      2021–                Ahal           0   (0)

###############################################


Nepal
Most capped player: Kiran Chemjong

         Date                Team Appearances Goals
14  2008–2009          Machhindra         NaN   NaN
15  2009–2016          Three Star         NaN   NaN
16  2016–2017  Manang Marshyangdi         NaN   NaN
17  2017–2018                  TC         NaN   NaN
18       2018      Minerva Punjab           8   (0)
19  2018–2019      TC Sports Club         NaN   NaN
20  2019–2020      Minerva Punjab          20   (0)
21       2021           Dhangadhi           8   (0)
22  2021–2022              Maziya         NaN   NaN
23      2022–              Punjab          27   (0)

###############################################


CookIslands
Most capped player: Tony Jamieson

         Date                Team Appearances Goals
9   2000–2001   Tupapa Maraerenga           5   NaN
10  2001–2005   Wellington United          12   NaN
11  2005–2007    Wairarapa United           1   NaN
12  2007–2008  Wellington Olympic           4   NaN
13  2008–2010            Stop Out         NaN   NaN
14  2010–2011   Island Bay United         NaN   NaN
15  2011–2013   Tupapa Maraerenga           9   NaN

###############################################


Nigeria
Most capped player: Ahmed Musa

         Date                   Team Appearances Goals
14  2008–2010   GBS Football Academy           0   (0)
15  2008–2009          → JUTH (loan)          18   (4)
16  2009–2010  → Kano Pillars (loan)          25  (18)
17  2010–2012              VVV-Venlo          37   (8)
18  2012–2016            CSKA Moscow         125  (42)
19  2016–2018         Leicester City          21   (2)
20       2018   → CSKA Moscow (loan)          10   (6)
21  2018–2020               Al Nassr          50   (9)
22       2021           Kano Pillars           8   (0)
23  2021–2022       Fatih Karagümrük          34   (2)
24      2022–              Sivasspor          19   (0)

###############################################


EastGermany
Most capped player: Joachim Streich

         Date             Team Appearances  Goals
14  1969–1975    Hansa Rostock         141   (58)
15  1975–1985  1. FC Magdeburg         237  (171)
16      Total              NaN         378  (229)

###############################################


Ghana
Most capped player: André Ayew

         Date                    Team Appearances Goals
16  2007–2015               Marseille         160  (44)
17  2008–2009        → Lorient (loan)          22   (3)
18  2009–2010  → Arles-Avignon (loan)          25   (4)
19  2015–2016            Swansea City          34  (12)
20  2016–2018         West Ham United          43   (9)
21  2018–2021            Swansea City          99  (31)
22  2018–2019     → Fenerbahçe (loan)          29   (5)
23  2021–2023                 Al Sadd          30  (18)
24       2023       Nottingham Forest          13   (0)
25      2023–                Le Havre           4   (0)

###############################################


BritishVirginIslands
Most capped player: Carlos Septus
Could not extract info for /wiki/British_Virgin_Islands_national_football_team
SaintKittsandNevis
Most capped player: Gerard Williams

         Date           Team Appearances Goals
12  2006–2007  Old Road Jets         NaN   NaN
13  2009–2018   W Connection          34   (1)
14  2018–2019  Cayon Rockets           3   (0)
15  2019–2020           TRAU          13   (1)
16  2020–2021  Cayon Rockets         NaN   NaN
17      2021–           TRAU          27   (0)

###############################################


NewCaledonia
Most capped player: Bertrand Kaï

         Date             Team Appearances Goals
10  2007–2013  Hienghène Sport         NaN  (33)
11  2013–2014          Magenta          12   (2)
12  2014–2015          Gaïtcha          14   (3)
13      2015–  Hienghène Sport         NaN  (18)

###############################################


NorthKorea
Most capped player: Ri Myong-guk

        Date            Team Appearances Goals
6  2006–2019  Pyongyang City         NaN   NaN

###############################################


WesternSahara
Most capped player: El-Mahfoud Welad
Could not extract info for /wiki/Western_Sahara_national_football_team
Italy
Most capped player: Gianluigi Buffon

         Date                 Team Appearances Goals
11  1995–2001                Parma         168   (0)
12  2001–2018             Juventus         509   (0)
13  2018–2019  Paris Saint-Germain          17   (0)
14  2019–2021             Juventus          17   (0)
15  2021–2023                Parma          43   (0)
16      Total                  NaN         754   (0)

###############################################


NetherlandsAntilles
Could not extract info for /wiki/Netherlands_Antilles_national_football_team
Fiji
Most capped player: Roy Krishna

         Date                Team Appearances Goals
12  2006–2007              Labasa          10   (7)
13  2008–2013    Waitakere United          75  (55)
14       2013       Auckland City           4   (1)
15  2014–2019  Wellington Phoenix         122  (51)
16  2019–2020                 ATK          21  (15)
17  2020–2022     ATK Mohun Bagan          39  (21)
18  2022–2023           Bengaluru          22   (6)
19      2023–              Odisha          12   (7)

###############################################


CIS
Most capped player: Dmitri Kharine

         Date               Team Appearances Goals
13  1982–1987  FC Torpedo Moscow          63   (0)
14  1988–1991   FC Dynamo Moscow          40   (0)
15  1991–1992        CSKA Moscow          34   (0)
16  1992–1999            Chelsea         118   (0)
17  1999–2002             Celtic           8   (0)
18  2002–2004         Hornchurch          23   (0)
19      Total                NaN         286   (0)

###############################################


EquatorialGuinea
Most capped player: Federico Bikoro

         Date                Team Appearances Goals
12  2013–2014           Akonangui         NaN   NaN
13       2015  Sony de Elá Nguema         NaN   NaN
14       2016  Cano Sport Academy         NaN   NaN
15       2017              Alcalá           9   (0)
16  2017–2018            SS Reyes          14   (1)
17       2018               Lorca           2   (0)
18  2018–2019              Teruel          30   (1)
19  2019–2022            Zaragoza           0   (0)
20       2020    → Badajoz (loan)           3   (0)
21  2020–2021   → Numancia (loan)           4   (0)
22       2021   → Badalona (loan)          13   (0)
23  2021–2022   → Hércules (loan)          22   (3)
24  2022–2023          Sandefjord          21   (1)
25      2023–       Club Africain           0   (0)

###############################################


Afghanistan
Most capped player: Zohib Islam Amiri

         Date             Team Appearances Goals
12  2005–2007             Shoa          20   (5)
13  2007–2009       Kabul Bank          50   (7)
14  2009–2011           Ferozi          20   (4)
15  2011–2014           Mumbai          58   (9)
16  2014–2015            Dempo          16   (5)
17       2014  → FC Goa (loan)           9   (0)
18  2015–2016   DSK Shivajians          14   (0)
19       2017  Chennai City FC          10   (2)
20  2018–2019      New Radiant          15   (2)
21       2019  A.S. Blainville           0   (0)
22  2019–2020   Gokulam Kerala          12   (0)
23  2020–2021  A.S. Blainville          21   (1)
24       2021     Real Kashmir          14   (0)
25      2022–  A.S. Blainville          31   (5)

###############################################


Barbados
Most capped player: Norman Forde
Could not extract info for /wiki/Barbados_national_football_team
S%C3%A3oTom%C3%A9andPr%C3%ADncipe
Most capped player: Joazhifel Soares

         Date                 Team Appearances Goals
9   2011–2012      Vitória Riboque         NaN   NaN
10  2013–2016  Sporting Praia Cruz         NaN   NaN
11       2017                 UDRA         NaN   NaN

###############################################


BurkinaFaso
Most capped player: Charles Kaboré

         Date                   Team Appearances Goals
11  2006–2008  Libourne Saint Seurin          26   (1)
12       2008     → Marseille (loan)          12   (0)
13  2008–2013              Marseille         124   (2)
14  2013–2016        Kuban Krasnodar          63   (0)
15  2015–2016     → Krasnodar (loan)          21   (0)
16  2016–2019              Krasnodar          65   (2)
17  2019–2021          Dynamo Moscow          39   (0)
18  2022–2023                  Niort          30   (0)

###############################################


Poland
Most capped player: Robert Lewandowski

         Date               Team Appearances  Goals
15       2005       Delta Warsaw          17    (4)
16  2005–2006    Legia Warsaw II          13    (2)
17       2006  Znicz Pruszków II           2    (6)
18  2006–2008     Znicz Pruszków          59   (36)
19  2008–2010        Lech Poznań          58   (32)
20  2010–2014  Borussia Dortmund         131   (74)
21  2014–2022      Bayern Munich         253  (238)
22      2022–          Barcelona          51   (31)

###############################################


Uruguay
Most capped player: Diego Godín

         Date              Team Appearances Goals
12  2003–2006             Cerro          63   (6)
13  2006–2007          Nacional          26   (0)
14  2007–2010        Villarreal          91   (4)
15  2010–2019   Atlético Madrid         277  (17)
16  2019–2020       Inter Milan          23   (1)
17  2020–2022          Cagliari          39   (1)
18       2022  Atlético Mineiro           5   (1)
19  2022–2023   Vélez Sarsfield          19   (1)
20      Total               NaN         543  (31)

###############################################


Canadamen%27snationalsoccerteam
Most capped player: Atiba Hutchinson

         Date                  Team Appearances Goals
13       2002  York Region Shooters           2   (0)
14  2002–2003          Toronto Lynx           4   (3)
15  2003–2004                 Öster          24   (6)
16  2004–2006           Helsingborg          49   (6)
17  2006–2010            Copenhagen         139  (22)
18  2010–2013                   PSV          80   (4)
19  2013–2023              Beşiktaş         270  (24)

###############################################


Portugal
Could not extract info for /wiki/Portugal_national_football_team
Serbia
Most capped player: Branislav Ivanović

         Date                    Team Appearances Goals
9   2002–2004                    Srem          19   (2)
10  2004–2006             OFK Beograd          55   (5)
11  2006–2008        Lokomotiv Moscow          54   (5)
12  2008–2017                 Chelsea         261  (22)
13  2017–2020  Zenit Saint Petersburg          90   (8)
14  2020–2021    West Bromwich Albion          13   (0)
15      Total                     NaN         492  (42)

###############################################


BosniaandHerzegovina
Could not extract info for /wiki/Bosnia_and_Herzegovina_national_football_team
Guadeloupe
Most capped player: Jean-Luc Lambourde

         Date         Team Appearances Goals
9   2002–2005        Avion          43   (5)
10  2005–2014  Amical Club         NaN   NaN
11      2014–   CS Moulien         NaN   NaN

###############################################


SouthSudan
Most capped player: Peter Chol

  Date   Team Appearances Goals
8  NaN  Kator         NaN   NaN

###############################################


Belgium
Most capped player: Jan Vertonghen

         Date                   Team Appearances Goals
16  2006–2012                   Ajax         155  (23)
17  2006–2007  → RKC Waalwijk (loan)          12   (3)
18  2012–2020      Tottenham Hotspur         232   (6)
19  2020–2022                Benfica          57   (0)
20      2022–             Anderlecht          32   (2)

###############################################


Kiribati
Most capped player: Nabaruru Batiri
Could not extract info for /wiki/Kiribati_national_football_team
Iraq
Most capped player: Younis Mahmoud

         Date               Team Appearances  Goals
11  1999–2001             Kirkuk         NaN   (24)
12  2001–2003          Al-Talaba         NaN   (26)
13  2003–2004           Al-Wahda         NaN    (0)
14  2004–2006            Al-Khor          49   (39)
15  2006–2011         Al-Gharafa          95   (72)
16       2008  → Al-Arabi (loan)           6    (2)
17  2011–2013          Al-Wakrah          33   (16)
18       2013            Al-Sadd           7    (2)
19       2013            Al-Ahli           6    (3)
20       2015              Erbil           0    (0)
21  2015–2016          Al-Talaba          19    (3)
22      Total                NaN           –  (187)

###############################################


Hungary
Most capped player: Balázs Dzsudzsák

         Date               Team Appearances Goals
11  2004–2008           Debrecen          48  (24)
12  2008–2011                PSV         114  (45)
13  2011–2012  Anzhi Makhachkala           8   (0)
14  2012–2015      Dynamo Moscow          89  (14)
15  2015–2016          Bursaspor          23   (3)
16  2016–2018           Al Wahda          43  (14)
17  2018–2020      Ittihad Kalba          36   (9)
18       2020             Al Ain           4   (1)
19      2020–           Debrecen         105  (22)

###############################################


Mauritius
Most capped player: Henri Speville

        Date                Team Appearances Goals
7  2000–2001   Olympique de Moka           -   (-)
8  2001–2006  AS Port-Louis 2000           -   (-)
9  2006–2010    Pamplemousses SC           -   (-)

###############################################


Zanzibar
Most capped player: Suleiman Selembe

         Date            Team Appearances Goals
9       –2009         Mafunzo         NaN   NaN
10  2009–2011            Azam         NaN   NaN
11  2011–2012    African Lyon         NaN   NaN
12  2012–2014   Coastal Union         NaN   NaN
13  2014–2015          Polisi         NaN   NaN
14  2015–2017    Stand United         NaN   NaN
15  2017–2018       Maji Maji         NaN   NaN
16  2018–2019  OC Bukavu Dawa         NaN   NaN
17      2019–         Malindi         NaN   NaN

###############################################


CentralAfricanRepublic
Most capped player: Foxi Kéthévoama

         Date             Team Appearances Goals
10  2006–2007         Diósgyőr          23   (8)
11  2007–2010           Újpest          73  (13)
12  2010–2012       Kecskeméti          42  (11)
13       2012  → Astana (loan)          23   (1)
14  2013–2015           Astana          86  (25)
15       2016   Gaziantep B.B.          10   (5)
16  2016–2022    Balıkesirspor         148  (21)

###############################################


Uzbekistan
Most capped player: Server Djeparov

         Date                Team Appearances  Goals
13  2000–2001   Navbahor Namangan          46    (7)
14  2001–2007  Pakhtakor Tashkent          96   (64)
15  2007–2010           Bunyodkor          46   (38)
16       2010   → FC Seoul (loan)          16    (1)
17       2011            FC Seoul          15    (0)
18  2011–2013           Al-Shabab          25    (4)
19  2013–2014         Seongnam FC          55   (13)
20       2015       Ulsan Hyundai          22    (6)
21  2016–2017  Lokomotiv Tashkent          23    (7)
22  2017–2018           Esteghlal          27    (4)
23       2017    → Sepahan (loan)          10    (1)
24       2018             Zhetysu           5    (1)
25       2019   Metallurg Bekabad           9    (2)
26      Total                 NaN         395  (148)

###############################################


Guinea-Bissau
Most capped player: Jonas Mendes

         Date             Team Appearances Goals
10  2007–2011            Amora          16   (0)
11  2011–2013        Beira-Mar           3   (0)
12  2013–2014      Atlético CP           6   (0)
13  2015–2016         Vianense          31   (0)
14       2016           Vizela           7   (0)
15  2016–2017       Salgueiros          24   (0)
16  2017–2019  Académico Viseu          24   (0)
17  2019–2021   Black Leopards          34   (0)
18       2022        Zakynthos          14   (0)
19      2022–         Kalamata           9   (0)

###############################################


Armenia
Most capped player: Sargis Hovsepyan

         Date                  Team Appearances Goals
8   1990–1991       Malatia Yerevan          25   (0)
9   1991–1992         Lori Vanadzor          33   (0)
10  1992–1997        Pyunik Yerevan         153   (6)
11  1998–2003  Zenit St. Petersburg         153   (2)
12  2003–2004     Torpedo-Metallurg          14   (0)
13  2004–2012        Pyunik Yerevan         190  (14)
14      Total                   NaN         568  (22)

###############################################


Liberia
Most capped player: Joe Nagbe

         Date                Team Appearances Goals
7   1980–1983     Young Survivors         NaN   NaN
8   1985–1986   Invincible Eleven         NaN   NaN
9   1986–1987      Mighty Barolle         NaN   NaN
10  1987–1988   Invincible Eleven         NaN   NaN
11  1988–1989        Union Douala         NaN   NaN
12  1989–1990  Stade de Vallauris          19   (2)
13  1990–1991              Monaco           2   (0)
14  1991–1993          SAS Épinal          64  (14)
15  1993–1996                Nice          96  (17)
16  1996–1997              Lugano          19   (0)
17  1997–2000                PAOK          77  (10)
18  2000–2001           Panionios          19   (6)
19  2001–2002        PAS Giannina          17   (5)
20  2002–2003      Al-Jazira Club          16   (6)
21  2003–2004     PSIM Yogyakarta          27   (7)
22       2004      PSPS Pekanbaru          30  (18)
23  2005–2006      Persema Malang          22   (3)
24  2006–2007      Persiba Bantul          17   (2)

###############################################


ChineseTaipei
Most capped player: Chen Po-liang

         Date                Team Appearances Goals
13  2006–2010   Taiwan PE College         NaN   NaN
14       2010            Taipower           0   (0)
15       2011             Pegasus           7   (3)
16       2011            Taipower           8  (10)
17  2012–2013       Shenzhen Ruby          53   (9)
18       2014    Shanghai Shenhua          13   (0)
19  2015–2019  Zhejiang Greentown         132  (11)
20  2020–2022     Changchun Yatai          13   (2)
21      2022–  Qingdao West Coast          57   (6)

###############################################


Guinea
Most capped player: Pascal Feindouno

               Date                Team Appearances Goals
8   1996–1997[1][2]           CI Kamsar         NaN   NaN
9         1998–2004            Bordeaux          94  (10)
10        2001–2002    → Lorient (loan)          30   (6)
11        2004–2008       Saint-Étienne         138  (34)
12        2008–2010             Al Sadd          24  (11)
13        2009–2010  → Al-Rayyan (loan)          14   (5)
14             2010   → Al-Nassr (loan)           5   (2)
15             2011              Monaco           5   (0)
16             2011                Sion           9   (3)
17        2012–2013          Elazığspor          10   (1)
18             2013           AS Kaloum         NaN   NaN
19        2013–2014      Lausanne-Sport          17   (4)
20        2015–2016     Hassania Agadir           0   (0)
21        2015–2016               Sedan           0   (0)
22             2016         FK Atlantas           3   (0)

###############################################


Bangladesh
Most capped player: Jamal Bhuyan

         Date                         Team Appearances Goals
15  2009–2012                  Hellerup IK           1   (1)
16       2012        Abahani Limited Dhaka           ?   (0)
17  2012–2013                    BK Avarta           ?   (?)
18  2013–2014                   Avedøre IF           ?   (?)
19  2014–2016       Sheikh Jamal Dhanmondi           ?   (2)
20  2016–2017             Sheikh Russel KC           ?   (2)
21  2017–2022                      Saif SC          70   (4)
22       2019  → Chittagong Abahani (loan)           0   (0)
23  2020–2021  → Kolkata Mohammedan (loan)          12   (0)
24  2022–2023             Sheikh Russel KC          19   (0)
25      2023–             Club Sol de Mayo           4   (2)

###############################################


SouthKorea
Most capped player: Cha Bum-kun

         Date                   Team Appearances Goals
14       1976  Korea Trust Bank [ko]         NaN   NaN
15  1976–1979  ROK Air Force (draft)         NaN   NaN
16  1978–1979           Darmstadt 98           1   (0)
17  1979–1983    Eintracht Frankfurt         122  (46)
18  1983–1989       Bayer Leverkusen         185  (52)
19      Total                    NaN         308  (98)

###############################################


CaymanIslands
Most capped player: Ian Lindo

    Date         Team Appearances Goals
8  2002–  George Town         NaN   NaN

###############################################


Tuvalu
Most capped player: Katepu Sieni
Could not extract info for /wiki/Tuvalu_national_football_team
Moldova
Most capped player: Alexandru Epureanu

         Date                        Team Appearances Goals
11  2002–2004             Zimbru Chișinău          29   (2)
12  2004–2006            Sheriff Tiraspol          66   (3)
13  2007–2009                   FC Moscow          72   (3)
14  2010–2014               Dynamo Moscow          44   (3)
15       2012     → Krylia Sovetov (loan)          17   (1)
16       2013  → Anzhi Makhachkala (loan)           7   (0)
17       2014           Anzhi Makhachkala          10   (2)
18  2014–2023         İstanbul Başakşehir         214  (14)
19       2023                Ümraniyespor          13   (0)

###############################################


Iceland
Most capped player: Birkir Bjarnason

         Date                 Team Appearances Goals
16  2006–2011               Viking         103  (16)
17       2008  → Bodø/Glimt (loan)          22   (5)
18  2012–2013       Standard Liège          16   (0)
19  2012–2013     → Pescara (loan)          24   (2)
20       2013              Pescara           1   (0)
21  2013–2014            Sampdoria          14   (0)
22  2014–2015              Pescara          35  (10)
23  2015–2017             FC Basel          42  (14)
24  2017–2019          Aston Villa          48   (5)
25       2019             Al-Arabi           5   (1)
26  2020–2021              Brescia          39   (6)
27  2021–2023      Adana Demirspor          41   (5)
28       2023               Viking          11   (2)
29      2023–              Brescia          14   (3)

###############################################


Japan
Most capped player: Yasuhito Endō

         Date                   Team Appearances Goals
14  1998–1999       Yokohama Flügels          16   (1)
15  1999–2001     Kyoto Purple Sanga          53   (9)
16  2001–2021            Gamba Osaka         607  (98)
17  2020–2021  → Júbilo Iwata (loan)          50   (5)
18      2022–           Júbilo Iwata          52   (0)

###############################################


UnitedArabEmirates
Most capped player: Adnan Al Talyani

        Date      Team Appearances  Goals
9  1979–1999  Al-Shaab         563  (133)

###############################################


Lebanon
Most capped player: Hassan Maatouk

         Date            Team Appearances Goals
15  2004–2012            Ahed         NaN  (53)
16  2011–2012  → Ajman (loan)          21   (6)
17       2012        Emirates           0   (0)
18  2012–2013        Al-Shaab          25   (4)
19  2013–2017        Fujairah          91  (46)
20  2017–2019          Nejmeh          40  (20)
21      2019–           Ansar          59  (29)

###############################################


VaticanCity
Most capped player: Antonino Gart
Could not extract info for /wiki/Vatican_City_national_football_team
Libya
Most capped player: Ahmed Saad

         Date                  Team Appearances Goals
11  1999–2003   Benghazi al Jadeeda         NaN   (8)
12  2003–2005      Al-Nasr Benghazi         NaN  (14)
13  2005–2014        Alahly Tripoli         NaN   NaN
14  2011–2012  Club Africain (loan)         NaN   NaN

###############################################


Mexico
Most capped player: Andrés Guardado

         Date                       Team Appearances Goals
14  2005–2007                      Atlas          64   (6)
15  2007–2012        Deportivo La Coruña         137  (23)
16  2012–2015                   Valencia          48   (1)
17       2014  → Bayer Leverkusen (loan)           4   (0)
18  2014–2015               → PSV (loan)          28   (1)
19  2015–2017                        PSV          52   (3)
20      2017–                      Betis         177   (4)

###############################################


Austria
Most capped player: Marko Arnautović

         Date                  Team Appearances Goals
20  2007–2010                Twente          44  (12)
21  2009–2010  → Inter Milan (loan)           3   (0)
22  2010–2013         Werder Bremen          72  (14)
23  2013–2017            Stoke City         125  (22)
24  2017–2019       West Ham United          59  (21)
25  2019–2021         Shanghai Port          33  (19)
26      2021–               Bologna          54  (24)
27      2023–  → Inter Milan (loan)          13   (1)

###############################################


Norway
Most capped player: John Arne Riise

         Date           Team Appearances Goals
13  1996–1998       Aalesund          25   (5)
14  1998–1999       Monaco 2           9   (2)
15  1998–2001         Monaco          44   (4)
16  2001–2008      Liverpool         234  (21)
17  2008–2011           Roma          99   (7)
18  2011–2014         Fulham          87   (0)
19  2014–2015          APOEL          25   (4)
20  2015–2016  Delhi Dynamos          12   (1)
21       2016       Aalesund          10   (0)
22  2016–2017     Chennaiyin          10   (1)
23       2017         Rollon           2   (0)
24      2023–      Avaldsnes           1   (1)
25      Total            NaN         546  (43)

###############################################


Ethiopia
Most capped player: Shimelis Bekele

         Date              Team Appearances Goals
10  2010–2011      Hawassa City         NaN   NaN
11  2011–2013      Saint George         NaN   NaN
12  2013–2014   Ittihad Tripoli         NaN   NaN
13       2014        Al-Merrikh         NaN   NaN
14  2014–2019          Petrojet         123  (29)
15  2019–2021  Misr Lel-Makkasa          60  (16)
16  2021–2022          El Gouna          16   (0)
17  2022–2023             ENPPI           2   (0)
18      2023–     Defence Force           8   (2)

###############################################


SaintVincentandtheGrenadines
Most capped player: Cornelius Stewart

         Date                            Team Appearances Goals
14  2007–2008      Newwill Hope International           0   (0)
15       2009             Whitecaps Residency           1   (0)
16       2010             Vancouver Whitecaps          19   (2)
17       2010    → Whitecaps Residency (loan)           1   (0)
18       2011     Vancouver Whitecaps FC U-23           4   (0)
19  2012–2013                   Caledonia AIA           7   (1)
20       2013                             OPS          27   (8)
21       2014                             VPS          28   (5)
22  2015–2016                         PS Kemi          39   (4)
23       2017                  TC Sports Club          27  (20)
24       2018                          Maziya          23  (20)
25       2019                  Minerva Punjab           0   (0)
26  2019–2022                          Maziya          25  (17)
27      2022–          Sheikh Jamal Dhanmondi          20  (11)
28       2023  → Abahani Limited Dhaka (loan)           0   (0)
29      2023–           Abahani Limited Dhaka           0   (0)

###############################################


Bhutan
Most capped player: Chencho Gyeltshen

         Date                 Team Appearances Goals
12  2008–2014              Yeedzin          35  (17)
13       2014          Druk United          18  (12)
14       2015              Thimphu          10  (17)
15  2015–2016       Buriram United           2   (1)
16       2015  → Surin City (loan)          11   (9)
17       2016         Satun United           7   (3)
18       2016              Thimphu          10  (15)
19       2016               Terton           2   (2)
20       2016   Chittagong Abahani           7   (5)
21       2017         Thimphu City          14  (22)
22  2017–2018      Minerva Academy          18   (7)
23  2018–2019            Bengaluru           9   (2)
24       2019      → NEROCA (loan)           5   (2)
25  2020–2021               Punjab          14   (7)
26  2021–2022      Kerala Blasters          18   (0)
27  2022–2023                 Paro          16  (11)
28       2023               Punjab          12   (3)
29       2023           Machhindra           7   (1)
30       2023         Thimphu City           3   (2)
31      2023–            Sriwijaya          12   (3)

###############################################


Israel
Most capped player: Yossi Benayoun

         Date                      Team Appearances  Goals
14  1997–1998        Hapoel Be'er Sheva          25   (15)
15  1998–2002             Maccabi Haifa         130   (55)
16  2002–2005          Racing Santander         101   (20)
17  2005–2007           West Ham United          63    (8)
18  2007–2010                 Liverpool          92   (18)
19  2010–2013                   Chelsea          14    (1)
20  2011–2012          → Arsenal (loan)          19    (4)
21       2012  → West Ham United (loan)           6    (0)
22  2013–2014       Queens Park Rangers          16    (3)
23  2014–2016             Maccabi Haifa          55   (11)
24  2016–2017          Maccabi Tel Aviv          27    (1)
25  2017–2018          Beitar Jerusalem          14    (3)
26  2018–2019       Maccabi Petah Tikva          22    (7)
27       2019          Beitar Jerusalem          15    (0)
28      Total                       NaN         599  (146)

###############################################


Guatemala
Most capped player: Carlos Ruiz

         Date                   Team Appearances  Goals
11  1995–2002              Municipal         143   (69)
12       2001  → PAS Giannina (loan)           4    (0)
13  2002–2004              LA Galaxy          72   (50)
14  2005–2007              FC Dallas          68   (31)
15       2008              LA Galaxy          10    (1)
16       2008             Toronto FC           5    (0)
17       2009                Olimpia          18   (10)
18  2009–2010                 Puebla          33    (9)
19  2010–2011                   Aris          16    (4)
20       2011     Philadelphia Union          14    (6)
21  2011–2012               Veracruz          23   (10)
22       2013            D.C. United          13    (0)
23  2014–2016              Municipal          86   (72)
24       2016              FC Dallas           3    (1)
25      Total                    NaN         506  (234)

###############################################


Yemen
Could not extract info for /wiki/Yemen_national_football_team
Swedenmen%27s
Most capped player: Anders Svensson

         Date         Team Appearances Goals
13  1994–2001  IF Elfsborg         155  (38)
14  2001–2005  Southampton         127   (9)
15  2005–2015  IF Elfsborg         266  (34)
16      Total          NaN         548  (81)

###############################################


SierraLeone
Most capped player: Umaru Bangura

         Date             Team Appearances Goals
11  2006–2010         Hønefoss         123   (7)
12  2010–2013        Haugesund          81   (1)
13  2014–2016     Dinamo Minsk          58   (0)
14  2016–2021           Zürich          80   (1)
15  2021–2022  Neuchâtel Xamax          29   (0)

###############################################


Palau
Most capped player: Stephen Stefano
Could not extract info for /wiki/Palau_national_football_team
SaudiArabia
Most capped player: Mohamed Al-Deayea

         Date      Team Appearances Goals
11  1989–1999  Al-Ta'ee         176   (0)
12  1999–2010  Al-Hilal         230   (0)
13      Total       NaN         406   (0)

###############################################


Egypt
Most capped player: Ahmed Hassan

         Date            Team Appearances  Goals
11  1995–1997           Aswan          15    (7)
12  1997–1998         Ismaily          22    (6)
13  1998–2000     Kocaelispor          49    (5)
14  2000–2001     Denizlispor          30    (8)
15  2001–2003  Gençlerbirliği          41   (23)
16  2003–2006        Beşiktaş          79   (30)
17  2006–2008      Anderlecht          56   (20)
18  2008–2011         Al Ahly          59   (14)
19  2011–2013         Zamalek          25   (10)
20      Total             NaN         376  (123)

###############################################


Iran
Most capped player: Javad Nekounam

         Date        Team Appearances Goals
14  1998–2005         Pas         179  (45)
15  2005–2006    Al-Wahda          11   (3)
16       2006  Al-Sharjah          11   (5)
17  2006–2012     Osasuna         151  (24)
18  2012–2014   Esteghlal          44   (8)
19       2014   Al-Kuwait          11   (1)
20  2014–2015     Osasuna          22   (5)
21  2015–2016       Saipa          15   (3)
22       2016    Al-Arabi          11   (1)
23      Total         NaN         453  (95)

###############################################


Bermuda
Most capped player: Reggie Lambe

         Date                     Team Appearances Goals
15  2009–2011             Ipswich Town           2   (0)
16       2011  → Bristol Rovers (loan)           7   (0)
17  2012–2013               Toronto FC          54   (2)
18       2013            Toronto FC II           3   (0)
19       2014            Nyköpings BIS          11   (1)
20  2014–2016           Mansfield Town          67  (10)
21  2016–2018          Carlisle United          72  (12)
22  2018–2020         Cambridge United          55   (5)
23  2020–2023          Stowmarket Town          30   (9)
24       2023              AFC Sudbury          13   (1)
25      2023–           Braintree Town          22   (2)

###############################################


Guam
Most capped player: Jason Cunliffe

         Date                   Team Appearances Goals
17  2006–2008   Quality Distributors          49  (38)
18  2010–2012          Guam Shipyard          55  (52)
19  2012–2013       Pachanga Diliman          13   (4)
20  2013–2018                 Rovers          36  (43)
21      2018–  Bank of Guam Strykers          27  (18)

###############################################


Sudan
Most capped player: Haitham Mustafa

         Date                Team Appearances Goals
9   1993-1995  Al-Amir SC (Bahri)          17   (2)
10  1996–2012       Al-Hilal Club         578  (57)
11  2013–2014       Al-Merrikh SC         NaN   NaN
12       2015      Al-Ahly Shendi         NaN   NaN

###############################################


Syria
Most capped player: Maher Al-Sayed

         Date                Team Appearances Goals
8   1997–1998            Al-Wahda         NaN   NaN
9   1999–2002            Al-Jaish         NaN   NaN
10  2002–2004            Al-Naser         NaN   NaN
11  2004–2009            Al-Wahda         NaN   NaN
12  2009–2012            Al-Jaish         NaN   NaN
13       2012      Al-Arabi Irbid         NaN   NaN
14  2012–2013  Al-Shorta Damascus         NaN   NaN
15  2014–2015            Al-Wahda         NaN   NaN

###############################################


DominicanRepublic
Most capped player: César García

         Date                   Team Appearances Goals
12  2010–2011           Jarabacoa FC         NaN   NaN
13       2012  Puerto Rico Islanders           3   (0)
14  2012–2013           Jarabacoa FC          14  (10)
15       2013             Bayamón FC         NaN   NaN
16       2014           Jarabacoa FC           5   (0)
17       2015                 Bauger           4   NaN
18  2016–2020                  Cibao          27   (6)
19       2020           Jarabacoa FC          12   (5)
20  2021–2023        Real Santa Cruz          67  (12)
21      2023-      Oriente Petrolero          14   (2)

###############################################


Montenegro
Most capped player: Fatos Bećiraj

         Date                  Team Appearances Goals
10       2007             Besa Pejë         NaN   NaN
11  2008–2010             Budućnost          81  (39)
12  2010–2014         Dinamo Zagreb          90  (30)
13       2014       Changchun Yatai          28   (7)
14       2015          Dinamo Minsk          23   (9)
15  2016–2017         Dynamo Moscow          60  (13)
16       2018              Mechelen           4   (0)
17  2018–2020       Maccabi Netanya          54  (20)
18  2020–2021          Wisła Kraków          10   (0)
19       2021  → Bnei Yehuda (loan)          13   (2)
20       2021                Astana           7   (2)
21       2022                 Dečić          32   (6)
22       2023                Mornar          16   (2)

###############################################


Martinique
Most capped player: Daniel Hérelle

         Date              Team Appearances Goals
12  2005–2008  Club Franciscain         NaN   NaN
13  2008–2010       Samaritaine         NaN   NaN
14  2010–2014     Club Colonial         NaN   NaN
15  2014–2019       Golden Lion         NaN   NaN

###############################################


Guyana
Most capped player: Walter Moore

         Date                       Team Appearances Goals
9        2006           North East Stars          27   (4)
10  2007–2013              Caledonia AIA         115  (24)
11       2010      → Alpha United (loan)         NaN   NaN
12       2011  → Charlotte Eagles (loan)          18   (1)
13       2013                     Vostok          31   (1)
14       2014                Astana-1964           6   (0)
15  2015–2018                    FF Jaro          76   (4)
16       2018                    AC Oulu          26   (1)
17       2019                    FF Jaro          23   (1)

###############################################


Seychelles
Most capped player: Benoit Marie
Could not extract info for /wiki/Seychelles_national_football_team
ElSalvador
Most capped player: Darwin Cerén

         Date                    Team Appearances Goals
12  2009–2014  Juventud Independiente          87  (15)
13       2014            Orlando City          23   (2)
14  2015–2016            Orlando City          42   (2)
15  2016–2017    San Jose Earthquakes          33   (0)
16  2018–2022          Houston Dynamo         109   (3)
17      2023–                  Águila          18   (1)

###############################################


Nicaragua
Most capped player: Josué Quijano

         Date             Team Appearances Goals
12  2010–2011        CaRuNa RL         NaN   NaN
13  2011–2015  Walter Ferretti          30   (0)
14      2015–      Real Estelí         162   (6)

###############################################


Kyrgyzstan
Most capped player: Kayrat Zhyrgalbek uulu

         Date            Team Appearances Goals
12  2012–2014      Abdish-Ata          11   (1)
13  2014–2021  Dordoi Bishkek          51  (11)
14  2022–2023            Aksu          38   (0)

###############################################


Kazakhstan
Most capped player: Samat Smakov

         Date             Team Appearances Goals
13  1997–1998          Yelimay          33   (6)
14  1999–2000    Irtysh-Bastau          20   (1)
15  2000–2001           Rostov          39   (0)
16  2000–2001  Rostov reserves           8   (1)
17       2002    Zhenis Astana          11   (2)
18       2003          Yelimay          27   (4)
19  2004–2006           Kairat          91  (15)
20  2007–2013           Aktobe         171  (30)
21       2013  Çaykur Rizespor          16   (0)
22  2013–2014           Kairat          32   (0)
23       2015  Irtysh Pavlodar          26   (3)
24       2016           Aktobe          12   (5)
25  2016–2017         Ordabasy          30   (1)

###############################################


Vanuatu
Could not extract info for /wiki/Vanuatu_national_football_team
Lithuania
Most capped player: Saulius Mikoliūnas

         Date                          Team Appearances Goals
11  2002–2003                Šviesa Vilnius          13   (1)
12       2003                       Ekranas          16   (0)
13  2004–2009                    FBK Kaunas          23   (0)
14  2005–2009  → Heart of Midlothian (loan)         102  (11)
15  2009–2012                  Arsenal Kyiv          78   (6)
16  2013–2014                    Sevastopol          16   (0)
17  2014–2015           Shakhtyor Soligorsk          32   (4)
18  2016–2023                      Žalgiris         162  (11)

###############################################


UnitedStatesVirginIslandsnationalsoccerteam
Most capped player: Kassall Greene
Could not extract info for /wiki/United_States_Virgin_Islands_national_soccer_team
DRCongo
Most capped player: Issama Mpeko

         Date             Team Appearances Goals
10  2006–2009       FC Lumière         NaN   NaN
11  2009–2011     Motema Pembe         NaN   NaN
12  2011–2014          AS Vita         NaN   NaN
13  2014–2015  Kabuscorp S.C.P         NaN   NaN
14  2015–2023       TP Mazembe         250  (15)

###############################################


Panama
Most capped player: Gabriel Gómez

         Date                  Team Appearances Goals
12  2002–2003              Envigado          32   (1)
13       2004         San Francisco          17   (1)
14       2004       Deportivo Pasto          13   (1)
15       2005                 Tauro          13   (1)
16       2005     Deportivo Pereira          11   (2)
17  2006–2008              Santa Fe          40   (1)
18  2007–2008   → Belenenses (loan)          25   (1)
19  2008–2010            Belenenses          46   (2)
20       2010                 Ermis          11   (1)
21       2011            La Equidad          14   (1)
22       2011                Indios           8   (3)
23       2012    Philadelphia Union          24   (6)
24       2013       Atlético Junior          16   (0)
25  2013–2014         San Francisco          28   (2)
26  2014–2016             Herediano          41   (1)
27       2016   → Cartaginés (loan)          12   (1)
28       2016       Deportes Tolima          18   (2)
29  2017–2019  Atlético Bucaramanga          82   (3)
30       2020         San Francisco           7   (1)
31  2020–2021         San Miguelito          32   (1)
32      Total                   NaN         490  (32)

###############################################


Scotland
Most capped player: Kenny Dalglish

         Date       Team Appearances  Goals
12  1969–1977     Celtic         204  (111)
13  1977–1990  Liverpool         355  (118)
14      Total        NaN         559  (229)

###############################################


Malawi
Most capped player: Young Chimodzi

     Date                Team Appearances Goals
4  ?–1999  Silver Strikers FC         NaN   NaN

###############################################


Singapore
Most capped player: Daniel Bennett

         Date                   Team Appearances Goals
11  1995–1998            Tiong Bahru          33   (4)
12  1999–2000      Balestier Central          17   (1)
13  2000–2001   Tanjong Pagar United          35   (0)
14       2002                Wrexham           6   (0)
15       2002                  SAFFC          13   (0)
16  2002–2003                Wrexham          18   (0)
17  2003–2004                  SAFFC          42   (1)
18  2005–2006   Woodlands Wellington          57   (4)
19  2007–2016            Warriors FC         239   (5)
20       2016  Geylang International          20   (2)
21  2017–2021        Tampines Rovers          81   (3)
22       2022   Tanjong Pagar United          17   (1)

###############################################


India
Most capped player: [1]
Could not extract info for /wiki/India_national_football_team
Nyasaland
Most capped player: Young Chimodzi

     Date                Team Appearances Goals
4  ?–1999  Silver Strikers FC         NaN   NaN

###############################################


FrenchGuiana
Most capped player: Rhudy Evens

    Date           Team Appearances Goals
7  2006–  ASC Le Geldar         NaN   NaN

###############################################


Congo
Most capped player: Jonas Bahamboula

        Date           Team Appearances Goals
6  1968–1987  Diables Noirs         NaN   NaN

###############################################


Thailand
Most capped player: Kiatisuk Senamuang

         Date                    Team Appearances  Goals
15  1991–1995         Krung Thai Bank         145   (98)
16  1995–1996               Rajpracha          27   (18)
17  1997–1998       Royal Thai Police          25   (21)
18  1998–1999                  Perlis          21   (22)
19  1999–2000       Huddersfield Town           0    (0)
20  2000–2001               Rajpracha          26   (18)
21  2001–2002  Singapore Armed Forces          20   (15)
22  2002–2006       Hoàng Anh Gia Lai          75   (59)
23      Total                     NaN         339  (251)

###############################################


SouthOssetia
Could not extract info for /wiki/South_Ossetia_national_football_team
Samoa
Most capped player: Desmond Fa'aiuaso

         Date                       Team Appearances Goals
9   2000–2001                     Titavi         NaN   NaN
10  2002–2004  Strickland Brothers Lepea         NaN  (38)
11       2005          Tuanaimoto Breeze         NaN   NaN
12  2005–2007                 A.S. Pirae         NaN   NaN
13  2007–2009  Strickland Brothers Lepea         NaN   NaN
14  2009–2010        YoungHeart Manawatu           5   (0)
15  2010–2014              Team Taranaki         NaN   NaN
16  2014–2016             Central United         NaN   NaN
17       2016  Strickland Brothers Lepea         NaN   NaN
18       2016               Vailima Kiwi         NaN   NaN
19      2016–  Strickland Brothers Lepea         NaN   NaN

###############################################


PuertoRico
Most capped player: Héctor Ramos

         Date                            Team Appearances Goals
13  2008–2009                 Sevilla Bayamón          14   (6)
14  2010–2011             Alacranes Del Norte          14   (6)
15       2011              Puerto Rico United           3   (3)
16       2011              Criollos de Caguas           9   (3)
17       2011  → Puerto Rico Islanders (loan)           2   (0)
18  2012–2013           Puerto Rico Islanders          22   (3)
19  2013–2015               AD Isidro Metapán          79  (31)
20       2015                    Al-Qadisiyah           2   (0)
21       2016                       CD Águila          13   (6)
22  2016–2017                  Puerto Rico FC          40  (12)
23       2018                           Sabah          18  (14)
24       2019                    Don Bosco FC          17  (11)
25       2019                      Alianza FC          10   (2)
26       2020                           Sabah           1   (0)
27      2020–                    Metropolitan          24  (23)

###############################################


Vietnam
Most capped player: Lê Công Vinh

         Date                                 Team Appearances  Goals
10  2004–2008                     Song Lam Nghe An          61   (49)
11  2009–2011                            Hanoi T&T          40   (26)
12       2009                     → Leixões (loan)           2    (0)
13       2012                            Hanoi ACB          23   (11)
14  2013–2014                     Song Lam Nghe An          36   (23)
15       2013  → Hokkaido Consadole Sapporo (loan)           9    (2)
16  2015–2016                   Becamex Binh Duong          35    (9)
17      Total                                  NaN         209  (124)

###############################################


NorthMacedonia
Most capped player: Goran Pandev

         Date             Team Appearances  Goals
11  1999–2001         Belasica          18    (6)
12  2001–2004      Inter Milan           0    (0)
13  2002–2003  → Spezia (loan)          22    (4)
14  2003–2004  → Ancona (loan)          20    (1)
15  2004–2009            Lazio         159   (48)
16  2009–2012      Inter Milan          47    (5)
17  2011–2012  → Napoli (loan)          30    (6)
18  2012–2014           Napoli          62   (13)
19  2014–2015      Galatasaray           4    (0)
20  2015–2022            Genoa         176   (28)
21       2022            Parma          11    (1)
22      Total              NaN         549  (112)

###############################################


UnitedKingdom
Most capped player: Billy Liddell

         Date       Team Appearances  Goals
13  1938–1961  Liverpool         492  (215)

###############################################


Philippines
Most capped player: Phil Younghusband

         Date                     Team Appearances Goals
10  2005–2008                  Chelsea           0   (0)
11  2007–2008      → Esbjerg fB (loan)           0   (0)
12  2009–2010              San Beda FC         NaN   NaN
13  2011–2017  Meralco Sparks / Manila         NaN  (94)
14  2017–2018            Davao Aguilas          31  (16)

###############################################


SaintLucia
Most capped player: Kurt Frederick

         Date          Team Appearances Goals
10  2010–2017  W Connection          86   (9)
11  2017–2018   Alajuelense          18   (0)
12      2018–  W Connection          11   (0)

###############################################


Cameroon
Most capped player: Rigobert Song

         Date                 Team Appearances Goals
11  1994–1998                 Metz         123   (3)
12       1998          Salernitana           4   (1)
13  1999–2000            Liverpool          34   (0)
14  2000–2002      West Ham United          24   (0)
15  2001–2002  → 1. FC Köln (loan)          16   (0)
16  2002–2004                 Lens          63   (3)
17  2004–2008          Galatasaray         104   (4)
18  2008–2010          Trabzonspor          46   (0)
19      Total                  NaN         414  (11)

###############################################


Madagascar
Most capped player: Paulin Voavy

         Date                 Team Appearances Goals
10  2006–2007       Saint-Pauloise         NaN   NaN
11  2007–2008             Nantes B          23   (4)
12  2008–2010             Boulogne           3   (0)
13  2009–2010  → Évian TGFC (loan)          28   (3)
14  2010–2014               Cannes          62  (11)
15  2014–2016       CS Constantine          50   (6)
16  2016–2021           El Makkasa         138  (18)
17  2021–2023     Ghazl El Mahalla          38   (1)
18      2023–    Saint-Pauloise FC         NaN   NaN

###############################################


Morocco
Most capped player: Noureddine Naybet

         Date                 Team Appearances Goals
8   1989–1993     Wydad Casablanca          85   (4)
9   1993–1994               Nantes          34   (1)
10  1994–1996          Sporting CP          64   (5)
11  1996–2004  Deportivo La Coruña         211  (11)
12  2004–2006    Tottenham Hotspur          30   (1)
13      Total                  NaN         424  (22)

###############################################


Namibia
Most capped player: Denzil Haoseb

         Date            Team Appearances Goals
8   2010–2016    Black Africa         NaN   NaN
9   2016–2018     Jomo Cosmos          55   (3)
10  2018–2019  Highlands Park          22   (0)

###############################################


FaroeIslands
Most capped player: Fróði Benjaminsen

         Date            Team Appearances Goals
10  1994–2003      B68 Toftir         139  (37)
11       2004  Fram Reykjavík          16   (3)
12  2005–2007    B36 Tórshavn          77  (22)
13  2008–2016     HB Tórshavn         208  (76)
14       2017   Víkingur Gøta          21   (4)
15       2018     NSÍ Runavík          26   (4)
16      2019–           Skála          24   (2)

###############################################


Artsakh
Could not extract info for /wiki/Artsakh_national_football_team
Monaco
Most capped player: Éric Fissore
Could not extract info for /wiki/Monaco_national_football_team
Germany
Most capped player: Lothar Matthäus

         Date                      Team Appearances  Goals
11  1978–1979      1. FC Herzogenaurach          22   (20)
12  1979–1984  Borussia Mönchengladbach         162   (36)
13  1984–1988             Bayern Munich         113   (57)
14  1988–1992               Inter Milan         115   (40)
15  1992–2000             Bayern Munich         189   (28)
16       2000                MetroStars          16    (0)
17       2018      1. FC Herzogenaurach           1    (0)
18      Total                       NaN         618  (181)

###############################################


Yugoslavia
Most capped player: Dragan Džajić

Empty DataFrame
Columns: [Date, Team, Appearances, Goals]
Index: []

###############################################


Lesotho
Most capped player: Jane Thabantso

    Date     Team Appearances Goals
6  2014–  Matlama         NaN  (53)

###############################################


Paraguay
Most capped player: Paulo da Silva

         Date              Team Appearances Goals
14       1995         Atlántida          36   (0)
15       1996  Presidente Hayes         NaN   NaN
16       1997    Sport Colombia         NaN   NaN
17  1997–1998     Cerro Porteño          30   (1)
18  1998–1999           Perugia           2   (0)
19  1999–2000             Lanús          14   (1)
20  2000–2001           Venezia           7   (0)
21       2001           Cosenza           2   (0)
22  2002–2003          Libertad          30   (2)
23  2003–2009            Toluca         235  (20)
24  2009–2011        Sunderland          24   (0)
25  2011–2012          Zaragoza          42   (1)
26  2012–2015           Pachuca          33   (2)
27  2013–2015   → Toluca (loan)          76  (12)
28  2015–2017            Toluca          72   (2)
29  2017–2021          Libertad          50   (0)
30  2021–2022     12 de Octubre          67   (2)
31       2023     Independiente           8   (0)
32      2023-       12 de Junio           4   (0)

###############################################


Kosovo
Most capped player: Amir Rrahmani

         Date                        Team Appearances Goals
12  2011–2013                     Drenica          40   (1)
13  2013–2015                   Partizani          59   (3)
14  2015–2016                   RNK Split          41   (1)
15  2016–2019               Dinamo Zagreb          57   (4)
16  2016–2017  → Lokomotiva Zagreb (loan)          28   (1)
17  2019–2020               Hellas Verona          36   (0)
18      2020–                      Napoli          91   (7)

###############################################


NorthernCyprus
Most capped player: Serkan Önet
Could not extract info for /wiki/Northern_Cyprus_national_football_team
Mauritania
Most capped player: Souleymane Diallo

        Date           Team Appearances Goals
6  2005–2008  ASAC Concorde         NaN   NaN
7        NaN  Tevragh-Zeina         NaN   NaN
8        NaN  Nouadhibou[2]         NaN   NaN

###############################################


Malta
Most capped player: Michael Mifsud

         Date                 Team Appearances  Goals
11  1997–2001     Sliema Wanderers          80   (60)
12  2001–2004       Kaiserslautern          21    (2)
13  2001–2004  → Kaiserslautern II          47   (27)
14       2004     Sliema Wanderers          12    (8)
15  2004–2007           Lillestrøm          48   (17)
16  2007–2009        Coventry City          86   (16)
17       2009    → Barnsley (loan)          15    (2)
18       2010             Valletta           7    (7)
19       2011                Qormi           5    (7)
20  2011–2013             Valletta          49   (28)
21  2013–2014      Melbourne Heart          14    (1)
22  2014–2016     Sliema Wanderers          32    (5)
23  2016–2018             Valletta          55   (11)
24  2018–2020           Birkirkara          36    (7)
25       2020               Sirens           9    (1)
26  2020–2021                Mosta          10    (2)
27      Total                  NaN         454  (136)

###############################################


Senegal
Most capped player: Idrissa Gueye

         Date                 Team Appearances Goals
14  2007–2008             Diambars         NaN   NaN
15  2008–2010              Lille B          55   (2)
16  2010–2015                Lille         134   (5)
17  2015–2016          Aston Villa          35   (0)
18  2016–2019              Everton          99   (3)
19  2019–2022  Paris Saint-Germain          74   (6)
20      2022–              Everton          47   (1)

###############################################


Latvia
Most capped player: Vitālijs Astafjevs

         Date            Team Appearances  Goals
10  1990–1992    Daugava Rīga          26   (11)
11  1992–1996          Skonto          99   (43)
12  1996–1997  Austria Vienna          26    (1)
13  1997–1999          Skonto          55   (17)
14  1999–2003  Bristol Rovers         108   (16)
15  2003–2004   Admira Wacker          28    (2)
16  2004–2005     Rubin Kazan          30   (10)
17  2006–2008          Skonto          26    (6)
18       2009      RFS/Olimps          14    (1)
19       2009       Ventspils           5    (0)
20       2010          Skonto          14    (2)
21      Total             NaN         431  (109)

###############################################


Abkhazia
Could not extract info for /wiki/Abkhazia_national_football_team
Chile
Most capped player: Gary Medel

         Date                  Team Appearances Goals
14  2006–2009  Universidad Católica          68  (10)
15  2009–2011          Boca Juniors          46   (7)
16  2011–2013               Sevilla          78   (8)
17  2013–2014          Cardiff City          34   (0)
18  2014–2017           Inter Milan          91   (1)
19  2017–2019              Beşiktaş          51   (1)
20  2019–2023               Bologna          96   (0)
21      2023–         Vasco da Gama           3   (0)

###############################################


SriLanka
Most capped player: Channa Ediri Bandanage

         Date                    Team Appearances Goals
6        2001                Hurriyya         NaN   NaN
7   2001–2002           Pettah United         NaN   NaN
8   2002–2003             Dempo SC[1]         NaN   NaN
9   2003–2005           Pettah United         NaN   NaN
10       2005                 Victory         NaN   NaN
11  2005–2006      Ratnam Sports Club         NaN   NaN
12       2006        Negombo Youth SC         NaN   NaN
13       2006                 Victory         NaN   NaN
14  2006–2007        Negombo Youth SC         NaN   NaN
15  2007–2009      Ratnam Sports Club         NaN   NaN
16  2009–2010                  Maziya         NaN   NaN
17       2011  Club All Youth Linkage         NaN   NaN
18       2012        B.G. Sports Club         NaN   NaN
19       2012      Ratnam Sports Club         NaN   NaN
20       2013                 Victory         NaN   NaN
21  2015–2016            Blue Star SC         NaN   NaN
22  2016–2017              Colombo FC         NaN   NaN
23  2017–2018            Super Sun SC         NaN   NaN
24  2018–2019            Blue Star SC         NaN   NaN

###############################################


Albania
Most capped player: Lorik Cana

         Date                   Team Appearances Goals
12  2000–2003  Paris Saint-Germain B          39   (2)
13  2002–2005    Paris Saint-Germain          69   (2)
14  2005–2009              Marseille         122   (6)
15  2009–2010             Sunderland          31   (0)
16  2010–2011            Galatasaray          24   (1)
17  2011–2015                  Lazio          82   (4)
18  2015–2016                 Nantes          21   (0)
19      Total                    NaN         388  (15)

###############################################


Transnistria
Could not extract info for /wiki/Transnistria_national_football_team
Czechoslovakia
Most capped player: Zdeněk Nehoda

         Date             Team Appearances  Goals
11  1969–1971    TJ Gottwaldov          56   (21)
12  1971–1983     Dukla Prague         290  (124)
13       1983  SV Darmstadt 98          32   (14)
14       1984   Standard Liège           3    (0)
15  1984–1986      FC Grenoble          60   (24)
16  1986–1989   SC Amaliendorf          55   (33)
17      Total              NaN         496  (216)

###############################################


Gambia
Most capped player: Omar Colley

         Date            Team Appearances Goals
14  2010–2011        Wallidan          15   (0)
15       2012  Real de Banjul          17   (1)
16  2013–2014            KuPS          57   (5)
17  2015–2016  Djurgårdens IF          44   (5)
18  2016–2018            Genk          54   (3)
19  2018–2023       Sampdoria         129   (3)
20      2023–        Beşiktaş          22   (5)

###############################################


Brazil
Most capped player: Cafu

         Date           Team Appearances Goals
13  1989–1995      São Paulo         164   (2)
14       1995  Real Zaragoza          20   (0)
15       1995      Juventude           7   (0)
16  1995–1997      Palmeiras          68   (1)
17  1997–2003           Roma         216   (4)
18  2003–2008       AC Milan         171   (7)
19  2008–2009  Garforth Town         NaN   NaN

###############################################


Bulgaria
Most capped player: Stiliyan Petrov

         Date         Team Appearances Goals
11  1995–1996      Montana          21   (4)
12  1996–1999   CSKA Sofia          45   (3)
13  1999–2006       Celtic         228  (64)
14  2006–2013  Aston Villa         185   (9)
15      Total          NaN         479  (80)

###############################################


Myanmar
Most capped player: David Htan

         Date           Team Appearances Goals
10  2009–2018  Yangon United         264   (3)
11  2018–2020    Shan United          49   (3)
12      2022–  Yangon United          31   (9)

###############################################


Croatia
Most capped player: Luka Modrić

         Date                      Team Appearances Goals
15  2003–2008             Dinamo Zagreb          94  (26)
16  2003–2004  → Zrinjski Mostar (loan)          25   (8)
17  2004–2005   → Inter Zaprešić (loan)          18   (4)
18  2008–2012         Tottenham Hotspur         127  (13)
19      2012–               Real Madrid         343  (27)

###############################################


AntiguaandBarbuda
Most capped player: Peter Byers

         Date                          Team Appearances Goals
11  2003–2007                           SAP          79  (73)
12  2007–2008             San Juan Jabloteh          38  (21)
13  2008–2010               Montreal Impact          39   (9)
14       2009  →Trois-Rivières Attak (loan)           2   (1)
15  2010–2011                        Parham         NaN   NaN
16       2011          Antigua Barracuda FC           7   (4)
17  2011–2012             Los Angeles Blues           9   (3)
18  2012–2013          Antigua Barracuda FC          15   (3)
19  2013–2014                    Central FC           7   (8)
20  2014–2015                           SAP         NaN   NaN
21       2015       Club Barcelona Atlético         NaN   NaN
22      2016–                           SAP         NaN   NaN

###############################################


Grenada
Most capped player: Cassim Langaigne

    Date           Team Appearances Goals
8  2004–  Hurricanes SC         NaN   NaN

###############################################


Ireland(1882%E2%80%931950)
Most capped player: Elisha Scott

         Date             Team Appearances Goals
13  1911–1912  Broadway United         NaN   NaN
14       1911         Linfield         NaN   NaN
15  1912–1915        Liverpool          28   (0)
16  1915–1916   Belfast United         NaN   NaN
17       1916         Linfield         NaN   NaN
18  1916–1919   Belfast Celtic         NaN   NaN
19  1919–1934        Liverpool         402   (0)
20  1934–1936   Belfast Celtic         NaN   NaN
21      Total              NaN         430   (0)

###############################################


SovietUnion
Most capped player: Oleg Blokhin

         Date            Team Appearances  Goals
11  1969–1988     Dynamo Kyiv         432  (211)
12  1988–1989  Vorwärts Steyr          41    (9)
13  1989–1990   Aris Limassol          22    (5)
14      Total             NaN         495  (225)

###############################################


Tahiti
Most capped player: Teaonui Tehau

         Date         Team Appearances  Goals
10  2008-2009  Tahiti U-20           6    (1)
11      2009–        Vénus         201  (323)
12  2012-2014       Dragon          18    (5)
13  2014–2015        Pirae          13    (1)

###############################################


Malaya
Could not extract info for /wiki/Malaya_national_football_team
AmericanSamoa
Most capped player: Nicky Salapu

         Date          Team Appearances Goals
7   2000–2008    PanSa East         NaN   NaN
8   2008–2011  SC Mauerbach         NaN   NaN
9   2011–2012    PanSa East         NaN   NaN
10  2012–2013   Mitra Kukar         NaN   NaN
11  2013–2019    PanSa East         NaN   NaN

###############################################


Georgia
Most capped player: Guram Kashia

         Date                  Team Appearances Goals
13  2006–2010        Dinamo Tbilisi          91  (58)
14  2010–2018               Vitesse         250  (22)
15  2018–2020  San Jose Earthquakes          44   (0)
16       2021    Locomotive Tbilisi          16   (4)
17      2021–     Slovan Bratislava          55   (5)

###############################################


Turkey
Most capped player: Rüştü Reçber

         Date                  Team Appearances Goals
10  1988–1991            Burdurgücü           1   (0)
11  1991–1993           Antalyaspor          34   (0)
12  1993–2003            Fenerbahçe         240   (0)
13  1993–1994  → Antalyaspor (loan)          33   (0)
14  2003–2006             Barcelona           4   (0)
15  2004–2006   → Fenerbahçe (loan)          46   (0)
16  2006–2007            Fenerbahçe           8   (0)
17  2007–2012              Beşiktaş          99   (0)
18      Total                   NaN         432   (0)

###############################################


HongKong
Most capped player: Yapp Hung Fai

         Date         Team Appearances Goals
14  2007–2008     Workable          13   (0)
15  2008–2009      Eastern          21   (0)
16  2009–2010      Pegasus          16   (0)
17  2010–2014  South China          57   (0)
18      2014–      Eastern         116   (0)

###############################################


Laos
Most capped player: Soukaphone Vongchiengkham

         Date              Team Appearances Goals
14  2010–2011              Ezra          30   (?)
15  2012–2013             Krabi          26   (9)
16       2014       Phitsanulok           2   (0)
17       2014          Saraburi         NaN   NaN
18       2015   Lanexang United          20   (?)
19       2016              Ezra         NaN   NaN
20       2016   Lanexang United          26   (?)
21       2017         Vientiane          14   (?)
22       2018           Sisaket           4   (1)
23       2019  Chainat Hornbill          15   (1)
24       2020       PT Prachuap           1   (0)
25  2020–2021       Uthai Thani          14   (0)
26       2021        Udon Thani          15   (3)
27       2022         Kasetsart          14   (0)
28       2022              Trat          31   (0)
29      2023–  Nakhon Si United           8   (0)

###############################################


Jordan
Most capped player: Amer Shafi

         Date                 Team Appearances Goals
9   2000–2007           Al-Yarmouk          52   (0)
10  2004–2005  → Al-Faisaly (loan)          17   (0)
11  2006–2007     → Ismaily (loan)           9   (0)
12  2007–2018            Al-Wehdat         203   (1)
13  2018–2019      Shabab Al-Ordon          11   (0)
14       2019    → Al-Fayha (loan)          13   (0)
15  2019–2020             Al-Fayha          16   (0)

###############################################


Chad
Most capped player: Ezechiel N'Douassel

         Date                    Team Appearances Goals
14  2005–2007              Tourbillon          54  (32)
15  2007–2008                 MC Oran           4   (2)
16  2008–2010               USM Blida          29  (18)
17  2011–2012           Club Africain          28  (11)
18  2012–2014         FC Terek Grozny          15   (4)
19  2013–2014      → Konyaspor (loan)           6   (1)
20       2014  → Club Africain (loan)          11   (3)
21  2014–2015          NA Hussein Dey           7   (1)
22  2015–2016              CS Sfaxien          26   (9)
23  2016–2017     Ironi Kiryat Shmona          11   (3)
24       2017         Hapoel Tel Aviv           5   (1)
25  2017–2019          Persib Bandung          62  (36)
26  2020–2022             Bhayangkara          25  (12)
27      2023–             Bekasi City          12   (8)

###############################################


Bahamas
Most capped player: Lesly St. Fleur

         Date                      Team Appearances Goals
10  2007–2010                  Bears FC          53  (34)
11       2010               Milltown FC          13  (10)
12       2011  Sporting Central Academy          11   (3)
13       2011                  Bears FC          12  (16)
14  2012–2020        Montego Bay United         139  (34)
15      2020-                  Bears FC          13   (8)

###############################################


Indonesia
Could not extract info for /wiki/Indonesia_national_football_team
Qatar
Most capped player: Hassan Al-Haydos

     Date     Team Appearances Goals
14  2007–  Al-Sadd         317  (96)

###############################################


Tunisia
Most capped player: Radhi Jaïdi

         Date                Team Appearances Goals
12  1993–2004  Espérance de Tunis         288  (20)
13  2004–2006    Bolton Wanderers          43   (8)
14  2006–2009     Birmingham City          86   (6)
15  2009–2012         Southampton          58   (4)
16      Total                 NaN         475  (38)

###############################################


Netherlands
Most capped player: Wesley Sneijder

         Date         Team Appearances  Goals
12  2002–2007         Ajax         126   (43)
13  2007–2009  Real Madrid          52   (11)
14  2009–2012  Inter Milan          76   (13)
15  2013–2017  Galatasaray         124   (35)
16  2017–2018         Nice           5    (0)
17  2018–2019   Al-Gharafa          22   (15)
18      Total          NaN         405  (117)

###############################################


RussianEmpire
Most capped player: Vasily Zhitarev

         Date                   Team Appearances Goals
10  1908–1910             KFS Moscow         NaN   NaN
11  1911–1918  Zamoskvoretsky Moscow         NaN   NaN
12  1919–1922             KFS Moscow         NaN   NaN
13  1923–1924          Dynamo Moscow         NaN   NaN

###############################################


FederatedStatesofMicronesia
Could not extract info for /wiki/Federated_States_of_Micronesia_national_football_team
SanMarino
Most capped player: Matteo Vitaioli

         Date                        Team Appearances  Goals
14  2005–2006           San Marino Calcio           2    (0)
15       2006             → Empoli (loan)           0    (0)
16  2006–2007           San Marino Calcio           2    (0)
17  2007–2008       → ASD Cagliese (loan)          26    (1)
18  2008–2009    → Real Montecchio (loan)          30    (6)
19  2009–2010           San Marino Calcio           1    (0)
20       2010  → P.D. Castellarano (loan)          17    (2)
21  2010–2012           San Marino Calcio          18    (0)
22       2012             F.C. Fiorentino           1    (0)
23  2013–2014                  Sammaurese          49   (18)
24  2014–2021            Tropical Coriano         175  (102)
25       2021                  Pennarossa           3    (0)
26  2021–2022            Tropical Coriano          17    (3)
27      2022–                  La Fiorita          28    (9)

###############################################


Gabon
Most capped player: Didier Ovono

         Date                     Team Appearances Goals
9   1999–2000  Pétro Sport Port-Gentil           ?   (0)
10  2001–2003            AS Mangasport           ?   (0)
11       2004                 Sogéa FC           ?   (0)
12       2005               Alianza FC          36   (0)
13       2006        Paços de Ferreira           0   (0)
14  2007–2009           Dinamo Tbilisi          49   (0)
15  2009–2012                  Le Mans          81   (0)
16       2012               Le Mans II           2   (0)
17       2013                  Sochaux           0   (0)
18       2013               Sochaux II           6   (0)
19  2013–2017                 Oostende          89   (0)
20  2017–2019                 Paris FC           1   (0)
21  2017–2019              Paris II FC           6   (0)
22       2021                 Haguenau           0   (0)
23  2021–2022                  Trélazé           0   (0)
24      2022–                   Saumur           0   (0)

###############################################


Zambia
Most capped player: Kennedy Mweene

         Date               Team Appearances Goals
9        2003      Lusaka Celtic         NaN   NaN
10       2004     Lusaka Dynamos          27   (0)
11       2005       Kitwe United          30   (0)
12  2005–2013   Free State Stars         191  (11)
13  2013–2023  Mamelodi Sundowns          88   (0)
14      Total                NaN         336  (11)

###############################################


Timor-Leste
Most capped player: Anggisu Barbosa

         Date               Team Appearances Goals
12  2008–2013   FC Porto Taibesi         NaN   NaN
13  2014–2015           Sriracha         NaN   NaN
14       2016       Pattaya City         NaN   NaN
15       2017       AS Académica         NaN   NaN
16      2018–  Atlético Ultramar         NaN   NaN

###############################################


Haiti
Most capped player: Pierre Richard Bruny

        Date          Team Appearances Goals
7  1992–2000  Don Bosco FC         NaN   NaN
8  2001–2002    Joe Public         NaN   NaN
9  2003–2015  Don Bosco FC         NaN   NaN

###############################################


Botswana
Most capped player: Joel Mogorosi

         Date                   Team Appearances Goals
10  2004–2006                    BMC         NaN   NaN
11       2006       Township Rollers         NaN   NaN
12  2006–2007             AEP Paphos          10   (1)
13  2007–2008    APOP Kinyras Peyias           2   (0)
14  2008–2010       Township Rollers         NaN   NaN
15  2010–2012  Mochudi Centre Chiefs         NaN   NaN
16  2012–2014    Bloemfontein Celtic          56  (10)
17  2014–2019       Township Rollers         NaN   NaN
18      2019–        Gaborone United         NaN   NaN

###############################################


Cyprus
Most capped player: Ioannis Okkas

         Date                  Team Appearances  Goals
11  1993–1997          Nea Salamina          53   (16)
12  1997–2000  Anorthosis Famagusta          72   (51)
13  2000–2003                  PAOK          80   (38)
14  2003–2004            AEK Athens          24    (9)
15  2004–2007            Olympiacos          77   (19)
16  2007–2008            Celta Vigo          24    (6)
17  2008–2009             AC Omonia          23    (9)
18  2009–2014  Anorthosis Famagusta          97   (27)
19       2014       Ermis Aradippou          14    (2)
20      Total                   NaN         467  (198)

###############################################


Andorra
Most capped player: Ildefons Lima

         Date              Team Appearances Goals
12  1996–1999        FC Andorra          64   (2)
13  1999–2000        Espanyol B           1   (0)
14  2000–2001       Sant Andreu          25   (2)
15  2001–2002           Ionikos           0   (0)
16       2002           Pachuca           3   (1)
17  2002–2003        Las Palmas          25   (2)
18       2004        Poli Ejido           2   (0)
19  2004–2005    Rayo Vallecano          34   (1)
20  2005–2009         Triestina          79   (1)
21  2009–2011        Bellinzona          43   (4)
22  2011–2012         Triestina          17   (2)
23  2012–2014        FC Andorra          45  (15)
24  2014–2018      Santa Coloma          84  (18)
25  2018–2022  Inter d'Escaldes          53   (5)
26  2022–2023      FC Andorra B          13   (0)
27      Total               NaN         488  (53)

###############################################


Bahrain
Most capped player: Mohamed Husain

         Date                     Team Appearances Goals
11  2000–2001               Al-Gharafa           8   (0)
12  2001–2003           Al-Ahli Jeddah          22   (1)
13  2003–2006           Al-Ahli Manama          40   (4)
14  2004–2005  → Al-Kharaitiyat (loan)          22   (2)
15  2006–2007                 Al-Kazma          14   (1)
16  2007–2008             Al-Qadisiyah          52   (1)
17  2008–2009               Al-Salmiya          11   (1)
18  2009–2012                Umm Salal          73   (1)
19  2012–2013                 Al-Riffa           5   (0)
20  2013–2016                 Al-Nassr          37   (3)
21  2016–2018                 Al-Riffa           2   (0)

###############################################


Belize
Most capped player: Deon McCaulay

         Date                      Team Appearances Goals
9   2005–2006                Kremandala         NaN   NaN
10  2006–2007                 FC Belize         NaN   NaN
11  2007–2009      Belize Defence Force         NaN   NaN
12       2008                Puntarenas         NaN   NaN
13  2008–2009                 FC Belize         NaN   NaN
14       2009      Belize Defence Force         NaN   NaN
15  2009–2011            Deportes Savio          25   (4)
16  2011–2012     R.G. City Boys United         NaN   NaN
17  2013–2014          Belmopan Bandits         NaN   NaN
18       2014       Atlanta Silverbacks          17   (3)
19  2015–2017                 Verdes FC         NaN   NaN
20       2017       Atlanta Silverbacks           1   (2)
21  2018–2019     Georgia Revolution FC          10   (1)
22      2021–          Atletico Atlanta         NaN   NaN
23      2021–  Rome Gladiators (indoor)           2   (0)

###############################################


Gibraltar
Most capped player: Liam Walker

         Date              Team Appearances Goals
12  2006–2008         Algeciras           2   (0)
13  2008–2009    Atlético Zabal           8   (6)
14  2009–2010           Linense           4   (0)
15       2010       Los Barrios          13   (2)
16  2010–2011           Linense          13   (1)
17  2011–2012         San Roque          34   (9)
18  2012–2013        Portsmouth          26   (2)
19  2013–2014         San Roque           9   (2)
20       2014       Bnei Yehuda          13   (1)
21  2014–2016  Lincoln Red Imps          34  (25)
22  2016–2017            Europa          26  (15)
23  2017–2018      Notts County          11   (0)
24  2018–2021            Europa          53  (41)
25      2021–  Lincoln Red Imps          44  (19)

###############################################


NorthernMarianaIslands
Most capped player: Nicolas Swaim

    Date       Team Appearances Goals
8  2008–  MP United         NaN   NaN

###############################################


Wales
Most capped player: Gareth Bale

         Date                        Team Appearances  Goals
12  2006–2007                 Southampton          40    (5)
13  2007–2013           Tottenham Hotspur         146   (42)
14  2013–2022                 Real Madrid         176   (81)
15  2020–2021  → Tottenham Hotspur (loan)          20   (11)
16  2022–2023              Los Angeles FC          12    (2)
17      Total                         NaN         394  (141)

###############################################


R%C3%A9union
Most capped player: Jean-Michel Fontaine

         Date                Team Appearances Goals
12  2007–2011     USS Tamponnaise         179  (65)
13  2012–2013  JS Saint-Pierroise          28  (15)
14       2013      Fleetwood Town           3   (0)
15       2013  JS Saint-Pierroise          11   (3)
16  2014–2015        AS Excelsior           3  (12)
17  2016–2020  JS Saint-Pierroise         104  (89)
18      2021–      La Tamponnaise          62  (42)

###############################################


SerbiaandMontenegro
Most capped player: Savo Milošević

         Date               Team Appearances  Goals
14  1992–1995           Partizan          98   (65)
15  1995–1998        Aston Villa          90   (29)
16  1998–2000           Zaragoza          72   (38)
17  2000–2004              Parma          31    (9)
18       2002  → Zaragoza (loan)          16    (6)
19  2002–2003  → Espanyol (loan)          34   (12)
20  2003–2004     → Celta (loan)          37   (14)
21  2004–2007            Osasuna          82   (21)
22       2008        Rubin Kazan          16    (3)
23      Total                NaN         476  (197)

###############################################


Cuba
Most capped player: Yénier Márquez

         Date               Team Appearances Goals
9   1999–2015     FC Villa Clara         NaN   NaN
10  2015–2018  Green Bay Hoppers         NaN   NaN
11  2018–2019     FC Villa Clara         NaN   NaN

###############################################


Australiamen%27snationalsoccerteam
Most capped player: Mark Schwarzer

         Date                  Team Appearances Goals
14  1990–1994     Marconi Stallions          58   (0)
15  1994–1995        Dynamo Dresden           2   (0)
16  1995–1996  1. FC Kaiserslautern           4   (0)
17  1996–1997         Bradford City          13   (0)
18  1997–2008         Middlesbrough         366   (0)
19  2008–2013                Fulham         172   (0)
20  2013–2015               Chelsea           4   (0)
21  2015–2016        Leicester City           6   (0)
22      Total                   NaN         625   (0)

###############################################


Niger
Most capped player: Kassaly Daouda

            Date                         Team Appearances Goals
10     1997–2001         Olympic FC de Niamey         NaN   NaN
11  2001–2006[2]                     Sahel SC         NaN   NaN
12     2007–2012            Cotonsport Garoua          30   (0)
13          2009  → Rapid II București (loan)         NaN   NaN
14     2012–2013                Chippa United          21   (0)
15     2013–2015                  ASN Nigelec         NaN   NaN
16     2015–2016                AS Mangasport         NaN   NaN
17     2016–2018                  ASN Nigelec         NaN   NaN
18      2018–[3]               Katsina United           0   (0)

###############################################


Cambodia
Most capped player: Soeuy Visal

         Date                         Team Appearances Goals
12  2013–2014       Asia Europe University         NaN   NaN
13  2014– Now  Preah Khan Reach Svay Rieng         NaN   NaN

###############################################


Benin
Most capped player: Stéphane Sessègnon

         Date                     Team Appearances Goals
14  2003–2004  Requins de l'Atlantique         NaN   NaN
15  2004–2006                  Créteil          68  (10)
16  2006–2008                  Le Mans          61   (6)
17  2008–2011      Paris Saint-Germain          77   (9)
18  2011–2013               Sunderland          87  (17)
19  2013–2016     West Bromwich Albion          79   (8)
20  2016–2018              Montpellier          43   (3)
21  2018–2020           Gençlerbirliği          76  (10)
22       2022                Göçmenköy           0   (0)
23      2022–                   Sirens          19   (0)

###############################################


SaintMartin
Most capped player: Yannick Bellechasse

         Date           Team Appearances Goals
8   2017–2020   Junior Stars         NaN   NaN
9   2020–2022  Flames United         NaN   NaN
10      2022–         Lymers         NaN   NaN

###############################################


IvoryCoast
Most capped player: Didier Zokora

         Date               Team Appearances Goals
13  1999–2000       ASEC Mimosas           1   (0)
14  2000–2004        Racing Genk         124   (1)
15  2004–2006      Saint-Étienne          66   (0)
16  2006–2009  Tottenham Hotspur          88   (0)
17  2009–2011            Sevilla          49   (0)
18  2011–2014        Trabzonspor          72   (0)
19  2014–2015        Akhisarspor          25   (0)
20  2015–2016          Pune City          13   (0)
21  2016–2017  North East United          14   (0)
22       2017       Semen Padang          18   (1)
23      Total                NaN         468   (2)

###############################################


Tanzania
Most capped player: Erasto Nyoni

         Date           Team Appearances Goals
10        NaN  Rolling Stone         NaN   NaN
11        NaN   A.F.C Arusha         NaN   NaN
12       2009        Vital'O         NaN   NaN
13  2010–2017        Azam FC         NaN   NaN
14      2017–     Simba S.C.         NaN   NaN

###############################################


NewZealandmen%27s
Most capped player: Ivan Vicelich

         Date            Team Appearances Goals
9   1993–1995  Waitakere City          64   (4)
10  1996–1999  Central United         100  (18)
11  1999–2001  Football Kingz          46   (6)
12  2001–2006         Roda JC         129  (14)
13  2006–2008    RKC Waalwijk          21   (0)
14  2008–2010   Auckland City          49   (9)
15       2010        Shenzhen          15   (0)
16  2010–2016   Auckland City         119  (10)
17       2012  Central United         NaN   NaN
18      Total             NaN         543  (61)

###############################################


Denmark
Most capped player: Simon Kjær

         Date               Team Appearances Goals
15  2007–2008     FC Midtjylland          19   (0)
16  2008–2010            Palermo          62   (5)
17  2010–2013      VfL Wolfsburg          57   (3)
18  2011–2012      → Roma (loan)          22   (0)
19  2013–2015              Lille          66   (1)
20  2015–2017         Fenerbahçe          54   (3)
21  2017–2020            Sevilla          46   (2)
22  2019–2020  → Atalanta (loan)           5   (0)
23       2020  → AC Milan (loan)          15   (0)
24      2020–           AC Milan          66   (0)

###############################################


NorthernIreland
Most capped player: Steven Davis

         Date              Team Appearances Goals
15  2004–2007       Aston Villa          91   (5)
16  2007–2008            Fulham          22   (0)
17       2008  → Rangers (loan)          12   (0)
18  2008–2012           Rangers         140  (18)
19  2012–2019       Southampton         193  (12)
20       2019  → Rangers (loan)          15   (0)
21      2019–           Rangers          85   (1)

###############################################


Malaysia
Most capped player: Soh Chin Ann

         Date      Team Appearances Goals
10  1969–1970   Malacca         NaN   NaN
11  1971–1978  Selangor         NaN   NaN
12  1979–1985   Malacca         NaN   NaN
13       1988   Malacca         NaN   NaN

###############################################


UnitedStatesmen%27snationalsoccerteam
Most capped player: Cobi Jones

         Date           Team Appearances Goals
14  1994–1995  Coventry City          24   (2)
15  1995–1996  Vasco da Gama           4   (1)
16  1996–2007      LA Galaxy         306  (70)
17      Total            NaN         334  (73)

###############################################


Djibouti
Most capped player: Daoud Wais

         Date                   Team Appearances Goals
10  2010–2020  ASAS Djibouti Télécom         NaN   NaN
11      2020–            Arta/Solar7         NaN   NaN

###############################################


Bolivia
Most capped player: Marcelo Moreno

         Date                      Team Appearances Goals
15  2003–2004         Oriente Petrolero          20   (2)
16  2005–2007                   Vitória          30  (12)
17  2007–2008                  Cruzeiro          14   (7)
18  2008–2011          Shakhtar Donetsk          32   (7)
19       2009    → Werder Bremen (loan)           5   (0)
20       2010   → Wigan Athletic (loan)          12   (0)
21  2012–2015                    Grêmio          28  (10)
22  2013–2014         → Flamengo (loan)          16   (2)
23  2014–2015         → Cruzeiro (loan)          32  (15)
24  2015–2016           Changchun Yatai          53  (22)
25  2017–2018                Wuhan Zall          34  (25)
26       2019  Shijiazhuang Ever Bright          12   (7)
27  2020–2021                  Cruzeiro          43   (8)
28  2022–2023             Cerro Porteño          30   (6)
29      2023–   Independiente del Valle           0   (0)

###############################################


Rwanda
Most capped player: Haruna Niyonzima

         Date            Team Appearances Goals
9        2005      Etincelles         NaN   NaN
10  2006–2007    Rayon Sports         NaN   NaN
11  2007–2011             APR         NaN   NaN
12  2011–2017  Young Africans         NaN   NaN
13  2017–2019           Simba         NaN   NaN
14       2019       AS Kigali         NaN   NaN
15  2020–2021  Young Africans         NaN   NaN
16  2021–2022       AS Kigali         NaN   NaN
17      2022–      Al Ta'awon         NaN   NaN

###############################################


Oman
Most capped player: Ahmed Mubarak

         Date               Team Appearances Goals
9   2000–2005          Al-Orouba          30   (7)
10       2004  → Al-Wahda (loan)          11   (0)
11       2005    → Al-Ain (loan)           7   (0)
12  2005–2007          Al-Rayyan          44   (1)
13  2007–2009         Al-Sailiya          44   (4)
14  2009–2010            Al-Ahli          10   (0)
15  2010–2011           Al-Fateh          21   (0)
16       2011     → Dubai (loan)           5   (0)
17  2011–2012            Al-Nasr          19   (3)
18  2012–2013         Al-Ettifaq          29   (2)
19  2013–2014              Fanja          25   (1)
20  2014–2015           Al-Oruba         NaN   (6)
21  2015–2016           Muaither          17   (6)
22  2016–2017        Al-Markhiya          15  (10)
23  2017–2019          Mesaimeer          26   (4)
24  2019–2021        Al-Markhiya          31   (6)
25  2021–2022             Suwaiq          19   (1)
26  2022–2023          Al-Orouba           4   (0)

###############################################


Belarus
Most capped player: Alyaksandr Kulchy

         Date                Team Appearances Goals
11       1991  Gomelselmash Gomel          20   (2)
12  1992–1993     Fandok Bobruisk          52   (4)
13  1994–1996          MPKC Mozyr          86  (30)
14  1997–1999       Dynamo Moscow          62   (4)
15  1997–1999   → Dynamo-d Moscow          19   (7)
16  2000–2005   Shinnik Yaroslavl         149  (18)
17  2006–2007           Tom Tomsk          60   (4)
18  2008–2010              Rostov          84   (1)
19  2011–2012           Krasnodar          29   (1)
20       2012   Sibir Novosibirsk          15   (2)
21       2013     Irtysh Pavlodar          13   (0)
22      Total                 NaN         589  (73)

###############################################


SouthVietnam
Could not extract info for /wiki/South_Vietnam_national_football_team
StateofVietnam
Could not extract info for /wiki/State_of_Vietnam_national_football_team
SouthYemen
Most capped player: Abubakar Al-Mass

        Date      Team Appearances Goals
9  1977–1994  Al-Tilal         NaN   NaN

###############################################


Honduras
Most capped player: Maynor Figueroa

         Date                     Team Appearances Goals
11  1999–2003                 Victoria          24   (2)
12  2003–2008                  Olimpia         100   (6)
13       2008  → Wigan Athletic (loan)           2   (0)
14       2008  → Wigan Athletic (loan)          29   (1)
15  2008–2013           Wigan Athletic         148   (3)
16  2013–2015                Hull City          35   (0)
17       2014  → Wigan Athletic (loan)           6   (0)
18       2015          Colorado Rapids          10   (1)
19  2016–2018                FC Dallas          70   (4)
20  2019–2021           Houston Dynamo          58   (2)
21      Total                      NaN         482  (19)

###############################################


Saarland
Most capped player: Waldemar Philippi

        Date               Team Appearances Goals
5  1945–1960  1. FC Saarbrücken         255  (16)

###############################################


Suriname
Most capped player: Marlon Felter

        Date               Team Appearances Goals
4  2002–2003  Inter Moengotapoe         NaN   NaN
5  2003–2008       FCS Nacional         NaN   NaN
6  2008–2012                WBC         NaN   NaN

###############################################


Tajikistan
Most capped player: Akhtam Nazarov

         Date                Team Appearances Goals
10       2012  Energetik Dushanbe         NaN   NaN
11  2013–2019            Istiklol         109  (13)
12  2019–2020   Bashundhara Kings           6   (1)
13  2020–2023            Istiklol          51   (1)
14       2023             Andijon           5   (0)
15      2023–            Istiklol           9   (0)

###############################################


Jamaica
Most capped player: Ian Goodison

         Date             Team Appearances Goals
9   1996–1999  Olympic Gardens         NaN   NaN
10  1999–2002        Hull City          71   (1)
11  2002–2004      Seba United         NaN   NaN
12  2004–2014  Tranmere Rovers         366  (11)
13  2015–2016     Harbour View         NaN   NaN

###############################################


Togo
Most capped player: Abdoul-Gafar Mamah

         Date                Team Appearances Goals
8   2000–2002              Gomido         NaN   NaN
9   2003–2005      105 Libreville         NaN   NaN
10  2005–2010    Sheriff Tiraspol          88   (1)
11  2010–2011  Alania Vladikavkaz          13   (0)
12  2011–2017      Dacia Chişinău         176   (1)
13  2018–2021           Ventspils          65   (0)
14  2021–2022    Ouest Tourangeau           2   (0)

###############################################


Mongolia
Most capped player: Tsend-Ayuush Khürelbaatar

         Date        Team Appearances Goals
10  2006–2017  Khoromkhon         NaN   NaN
11      2017–       Deren         NaN   NaN

###############################################


Venezuela
Most capped player: Tomás Rincón

         Date                Team Appearances Goals
15  2006–2007         Maracaibo B         NaN   (2)
16  2007–2008              Zamora          33   (1)
17  2008–2009   Deportivo Táchira          18   (0)
18  2009–2014        Hamburger SV         106   (0)
19  2014–2017               Genoa          78   (3)
20  2017–2018            Juventus          14   (0)
21  2017–2018     → Torino (loan)          36   (1)
22  2018–2022              Torino         109   (5)
23       2022  → Sampdoria (loan)          17   (0)
24  2022–2023           Sampdoria          34   (0)
25      2023–              Santos          16   (2)

###############################################


Niuenationalsoccerteam
Most capped player: Bradley Punu
Could not extract info for /wiki/Niue_national_soccer_team
Somaliland
Could not extract info for /wiki/Somaliland_national_football_team
Greece
Most capped player: Giorgos Karagounis

         Date                     Team Appearances Goals
11  1996–2003            Panathinaikos         118  (25)
12  1996–1998  → Apollon Athens (loan)          55   (9)
13  2003–2005              Inter Milan          21   (0)
14  2005–2007                  Benfica          45   (3)
15  2007–2012            Panathinaikos         133  (16)
16  2012–2014                   Fulham          39   (1)
17      Total                      NaN         411  (54)

###############################################


Burundi
Most capped player: Karim Nizigiyimana

         Date           Team Appearances Goals
11       2006        Vital'O          20   (0)
12  2008–2009         A.P.R.          11   (0)
13  2009–2010  Kiyovu Sports           9   (0)
14       2010      Vita Club           0   (0)
15  2010–2011        Vital'O         NaN   NaN
16  2011–2015   Rayon Sports         NaN   NaN
17  2015–2018      Gor Mahia         NaN   NaN
18       2019         Vipers         NaN   NaN
19      2019–         Wazito         NaN   NaN

###############################################